 
<div id="text_highlight">
<div class="details" id="detailsSection"><div class="details_container"><div class="content"><span class="bold">Click the button below to highlight text strings on the current page that you can customize in properties files during onboarding.</span><br></div><div class="marketing_btn"><div id="showProperties" style="display:block"><a class="light_button" onclick="showProperties()"><div id="showSpots" class="button_text">Show Properties</div><div class="button_right"></div></a></div><div id="hideProperties" style="display:none"><a class="light_button" onclick="hideProperties()"><div id="showSpots" class="button_text">Hide Properties</div><div class="button_right"></div></a></div></div><div class="content"><div id="messages" style="display:none"></div></div></div></div>
</div>
<script type="text/javascript" src="/StoreAssets/B2CAssets/javascript/Properties.js"></script>

{{ include CommonJSPFToInclude.jspf.twig }}


<div class="highlight">
			<div class="jspcaption" style="display:none">Header.jsp</div>


    <div id="headerWrapper">
        

{{ include Header.jsp.twig }}
    </div>


</div>
 
