 

<script type="text/javascript">
	dojo.addOnLoad(function() { parseWidget("free_gifts_popup"); parseWidget("PromotionFreeGiftsDisplay");});	
</script>       
<script type="text/javascript" src="../../StoreAssets/B2CAssets/javascript/CheckoutArea/PromotionChoiceOfFreeGifts.js"></script>
<div id="free_gifts_popup_main_div">
	<div title="" widgetid="free_gifts_popup" style="position: absolute; opacity: 1; left: 590px; top: 187px; z-index: 951; display: none;" id="free_gifts_popup" aria-labelledby="free_gifts_popup_title" role="dialog" class="dijitDialog dijitDialogFocused dijitFocused" tabindex="-1" wairole="dialog" waistate="labelledby-free_gifts_popup_title">
	<div title="Message Dialog" dojoattachpoint="titleBar" class="dijitDialogTitleBar">
	<span dojoattachpoint="titleNode" class="dijitDialogTitle" id="free_gifts_popup_title"><span>Message Dialog<span title="DIALOG_TITLE_MESSAGE" class="keyIcon"><img src="../../StoreAssets/B2CAssets/images/pencil_blue.png" alt="DIALOG_TITLE_MESSAGE"></span></span></span>
	<span style="display: none;" dojoattachpoint="closeButtonNode" class="dijitDialogCloseIcon" dojoattachevent="onclick: onCancel" title="Cancel">
		<span dojoattachpoint="closeText" class="closeText" title="Cancel">x</span>
	</span>
	</div>
		<div style="width: auto; height: auto;" dojoattachpoint="containerNode" class="dijitDialogPaneContent">
		<!-- Refresh area -->

			<span id="PromotionFreeGiftsDisplay_ACCE_Label" class="spanacce"><span>Free Gift<span title="ACCE_Region_Free_Gift" class="keyIcon"><img src="../../StoreAssets/B2CAssets/images/pencil_blue.png" alt="ACCE_Region_Free_Gift"></span></span></span>
			<div class="dijitContentPane" role="group" title="" widgetid="PromotionFreeGiftsDisplay" dojotype="wc.widget.RefreshArea" id="PromotionFreeGiftsDisplay" controllerid="PromotionFreeGifts_Controller">
{{ include PromotionChoiceOfFreeGiftsPopupContent.jsp.twig }}

</div>		
	</div>
<span class="elementKeyIcon" title="DIALOG_TITLE_MESSAGE=Message Dialog"><img src="../../StoreAssets/B2CAssets/images/pencil_orange.png" class="elementKeyIcon"></span></div>  
</div>
 
