 
<span class="highlight">
<div class="jspcaption" style="display:none">SingleShipmentOrderTotalsSummary.jsp</div>
<script type="text/javascript">
	dojo.addOnLoad(initDiscountDetails);
	function initDiscountDetails(){	
		if(document.getElementById("discountDetailsSection")!=null )  {
			document.getElementById("discountDetailsSection").style.display = "block";
		}
	}
</script>
<div id="total_breakdown">
			<div id="promotions">
{{ include PromotionCodeDisplay.jsp.twig }}

			</div>
	<table id="order_total" cellpadding="0" cellspacing="0" border="0" role="presentation">
		<tr> 
			<td class="total_details" id="WC_SingleShipmentOrderTotalsSummary_td_1">Order Subtotal:</td>
			<td class="total_figures" id="WC_SingleShipmentOrderTotalsSummary_td_2">$100.00</td>
		</tr>
		<tr>
				<td></td>
		</tr>
		<tr>
			<td class="total_details" id="WC_SingleShipmentOrderTotalsSummary_td_3">
						Discount: 
			</td>
			<td class="total_figures" id="WC_SingleShipmentOrderTotalsSummary_td_4">$0.00</td>
		</tr>
					<tr>
						<td class="total_details" id="WC_SingleShipmentOrderTotalsSummary_td_5">Tax:</td>
						<td class="total_figures" id="WC_SingleShipmentOrderTotalsSummary_td_6">$0.00</td>
					</tr>	
			<tr>
				<td class="total_details" id="WC_SingleShipmentOrderTotalsSummary_td_7">Shipping:</td>
				<td class="total_figures" id="WC_SingleShipmentOrderTotalsSummary_td_8">$0.00</td>
			</tr>				
			<tr>
				<td class="total_details" id="WC_SingleShipmentOrderTotalsSummary_td_14">Shipping Tax:</td>
				<td class="total_figures" id="WC_SingleShipmentOrderTotalsSummary_td_15">$0.00</td>
			</tr>
		<tr>
			<td class="total_details order_total" id="WC_SingleShipmentOrderTotalsSummary_td_9">Order Total:</td>
					<td class="total_figures breadcrumb_current" id="WC_SingleShipmentOrderTotalsSummary_td_10">$100.00</td>
		</tr>
	</table>
</div>
{{ include CouponWalletTable.jsp.twig }}
</span>
 
