<!-- BEGIN CatalogEntryPriceDisplay.jspf-->

			<span class="price bold">
				$100.00
			</span>
<!-- END CatalogEntryPriceDisplay.jspf-->
<!-- BEGIN CatalogEntryPriceDisplay.jspf-->

			<span class="price bold">
				$100.00
			</span>
<!-- END CatalogEntryPriceDisplay.jspf-->
