<!-- BEGIN FacebookConnect_UI.jsp -->


<span id="SocialIntegrationArea">
	<span id="header-fb-login-button-span">
		<a href="#" tabindex="0" class="h_tnav_but" id="headerFBlogin">
		    Connect to Facebook
			<img class="img_align" id="WC_FacebookConnectDisconnectDisplayImg_1" src="../../StoreAssets/B2CAssets/images/socialIntegration/facebook.png" alt="" /></a>
	</span> 
	
	<span id="header-fb-logout-button-span" class="nodisplay" > 
		<span id="header_menu_facebook_loaded" style="display:none;">
			<span id="menu_DropDown_Facebook" class="headerMenu_DropDown_Facebook" 
				onMouseOver="" 
				onMouseLeave="" 
				dojoType="" 
				aria-label="Use shift plus enter key then press the down arrow key to disconnect from Facebook." 
				role="button" >
			    <span id="WC_CachedHeaderDisplayFacebook_div" class="dropdown"
			    	onItemHover="" 
					onMouseLeave="" 
			    	maxItemsPerColumn="6" forceDisplayShowAll="false" 
			    	showAllText="Show All Facebook options" 
					aria-label="Show All Facebook options" 
					role="menu">
			        <span id="WC_CachedHeaderDisplayFacebook_div_2"  aria-labelledby="headerFBlogout" role="menuitem">
			            <span>
			                <a href="" tabindex="0" 
								class="h_tnav_but" id="headerFBlogout">
								Disconnect from Facebook
							</a>
			            </span>
			        </span>
			    </span>
			</span>
		</span>		
	</span>
	
</span>	

<!-- END FacebookConnect_UI.jsp -->
