<!-- BEGIN FooterDisplay.jspf -->


<div class="highlight">
			<div class="jspcaption" style="display:none">Footer.jsp</div>
    <div id="footerWrapper">
        

<!-- BEGIN Footer.jsp -->





































































	





























































 


	
	
	
		
		
	
















	
	
		
	




	
	
		
	
	






	
	
	





	
















	




	
	
		
	


























































	

















































































 







	

	
		




	
		
	
		
	
		
	
		
	
		
	
		
	
		
	
	



	
		
		
		
		
		
	

	
		
		
		
		
		
	

	
		
		
		
		
		
	

	
		
		
		
		
		
	

	
		
		
		
		
		
	

	
		
		
		
		
		
	

	
		
		
		
		
		
	



	
	
	





	
		
		
		
	




	

	

	
		

<div id="footer" role="navigation" aria-label="Content Information">
	<div id="footerRow1">
		<div id="footerCustomerServiceSection" class="section">
			<div class="header">
				<a class="toggle" href="#" data-toggle="footerCustomerServiceSection" role="button"><span id="footerCustomerServiceSection_div_ACCE_Label" class="spanacce">[PROPERTIES;FOOTER_CUSTOMER_SERVICE;Customer Service]</span></a>
				<h3>[PROPERTIES;FOOTER_CUSTOMER_SERVICE;Customer Service]</h3>
			</div>
			<ul>
				
				<li><a href="QuickOrderView.html" id="footerQuickOrderLink">[PROPERTIES;FOOTER_QUICK_ORDER;Quick Order]</a></li>
				<li><a id="footerHelpLink" href="HelpandContactUsatAuroraESite.html">[PROPERTIES;FOOTER_HELP;Help]</a></li>
				<li><a id="footerContactUsLink" href="HelpandContactUsatAuroraESite_6.html">[PROPERTIES;FOOTER_CONTACT_US;Contact Us]</a></li>
				<li><a id="footerReturnPolicyLink" href="ReturnPolicyforAuroraESite.html">[PROPERTIES;FOOTER_RETURN_POLICY;Return Policy]</a></li>
				<li><a id="footerPrivacyPolicyLink" href="WebsitePrivacyPolicyforAuroraESite.html">[PROPERTIES;FOOTER_PRIVACY_POLICY;Privacy Policy]</a></li>
			</ul>
		</div><div id="footerCorporateInfoSection" class="section">
			<div class="header">
				<a class="toggle" href="#" data-toggle="footerCorporateInfoSection" role="button"><span id="footerCorporateInfoSection_div_ACCE_Label" class="spanacce">[PROPERTIES;FOOTER_CORPORATE_INFO;Corporate Info]</span></a>
				<h3>[PROPERTIES;FOOTER_CORPORATE_INFO;Corporate Info]</h3>
			</div>
			<ul>
				<li><a id="footerAboutUsLink" href="AboutUsforAuroraESite.html">[PROPERTIES;FOOTER_ABOUT_US;About Us]</a></li>
				<li><a id="footerCorporateContactUsLink" href="ContactUsforAuroraESite.html">[PROPERTIES;FOOTER_CONTACT_US;Contact Us]</a></li>
				
					<li><a id="footerStoreLocatorLink" href="StoreLocator.html">[PROPERTIES;FOOTER_STORE_LOCATOR;Store Locator]</a></li>
				
			</ul>
		</div><div id="footerExploreSection" class="section">
			<div class="header">
				<a class="toggle" href="#" data-toggle="footerExploreSection" role="button"><span id="footerExploreSection_div_ACCE_Label" class="spanacce">[PROPERTIES;FOOTER_EXPLORE;Explore]</span></a>
				<h3>[PROPERTIES;FOOTER_EXPLORE;Explore]</h3>
			</div>
			<ul>
				<li><a id="footerSiteMapLink" href="SiteMapforAuroraESite.html">[PROPERTIES;FOOTER_SITE_MAP;Site Map]</a></li>
				
				
					<li><a id="footerAdvancedSearchLink" href="AdvancedSearch.html">[PROPERTIES;TITLE_ADVANCED_SEARCH;Advanced Search]</a></li>
				
			</ul>
		</div><div id="footerFollowUsSection" class="section">
			<div class="header">
				<a class="toggle" href="#" data-toggle="footerFollowUsSection" role="button"><span id="footerFollowUsSection_div_ACCE_Label" class="spanacce">[PROPERTIES;FOOTER_FOLLOW_US;Follow Us]</span></a>
				<h3>[PROPERTIES;FOOTER_FOLLOW_US;Follow Us]</h3>
			</div>
			<ul>
				<li><a id="footerFacebookLink" href="#">[PROPERTIES;FOOTER_FACEBOOK;Facebook]</a></li>
			</ul>
		</div>
	</div>
</div>

	





<script type="text/javascript">
	dojo.addOnLoad(function() { 
		//Make sure page is loaded at this point
		//Set requestedSubmitted to false
		requestSubmitted = false;

		// All div's whose id attribute contains dojoWidget subString -- dojo.query('div[id*="dojoWidget"]')
		// All div's which contains dojoType attribute -- dojo.query(div[dojoType])
		dojo.query('div[dojoType]').forEach(function(node, index, arr){
			addToWidgetsList(node.id);
		});
		parseAllWidgets();
	}); 	
</script>








<!-- END Footer.jsp -->

    </div>

</div>

<!-- END FooterDisplay.jspf -->
