{% extends "layout.html" %}

{% block content %}

<div class="container">
<header>
   <div><img src="/images/header.jpg" /></div>
   <div class="headerUnivers"><p></p><span>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam. Accusantium doloremque laudantium, totam rem aperiam</span><img src="" /></div>
   <div class="mag"><img src="" /></div>
   <div class="menu">
       <div class="menuBtn" style="width:130px;" data-univers="Fenêtres" onclick="javascript:location.href = 'index.html?univers=Fenêtres%20&%20Volets'"></div>
       <div class="menuBtn" style="width:100px;" data-univers="Portes" onclick="javascript:location.href = 'index.html?univers=Portes'"></div>
       <div class="menuBtn" style="width:100px;" data-univers="Cuisine" onclick="javascript:location.href = 'index.html?univers=Cuisine'"></div>
       <div class="menuBtn" style="width:145px;" data-univers="Salle de bains" onclick="javascript:location.href = 'index.html?univers=Salle%20de%20bains'"></div>
       <div class="menuBtn" style="width:137px;" data-univers="Rangements" onclick="javascript:location.href = 'index.html?univers=Rangements'"></div>
       <div class="menuBtn" style="width:124px;" data-univers="Escaliers" onclick="javascript:location.href = 'index.html?univers=Escaliers'"></div>
       <div class="menuBtn" style="width:130px;" data-univers="Sols & murs" onclick="javascript:location.href = 'index.html?univers=Sols%20&%20murs'"></div>
       <div class="menuBtn" style="width:120px;" data-univers="Extérieur" onclick="javascript:location.href = 'index.html?univers=Extérieur'"></div>
   </div>

   <div class="megamenu">
       <div class="megamenuLeft"><img src="https://static.lapeyre.fr/img/catalogue/desktopList/514/242/VN-201514242.jpg" /></div>
       <div class="megamenuCenter"><ul><li><p>Fenêtres</p><p>Auvents et marquise</p><p>Motorisations de porte de garage</p><p>La maison connectée</p><p>Poignées et serrure</p></li><li><p>Fenêtres de toit</p><p>Auvents et marquise</p><p>Motorisations de porte de garage</p><p>La maison connectée</p><p>Poignées et serrure</p></li><li><p>Accessoires</p><p>Auvents et marquise</p><p>Motorisations de porte de garage</p><p>La maison connectée</p><p>Poignées et serrure</p><span>Voir tous les produits</span></li></ul></div>
       <div class="megamenuRight"><p>Le Mag</p><ul><li><span></span>Porte Standard ou sur mesure?</li><li><span></span>Personnalisez votre porte</li><li><span></span>Sécurité des portes d'entrée</li></ul><p><a>Voir tous les articles</a></p></div>
   </div>

   <div class="ancre"></div>
</header>


<section id="univers">
    
</section>  

<footer>
   <div><img src="/images/footerFenetres.jpg" /></div>
   <div><img src="/images/footer.jpg" /></div>
</footer>
</div>
   <div class="megamenuOverlay"></div>

{% endblock %}
