{% extends "layout.html" %}

{% block content %}

<section id="univers">
    <div class="container-fluid">
       <div class="headerUnivers"><p></p><span>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam. Accusantium doloremque laudantium, totam rem aperiam</span><img src="" /></div>
	   <div><img src="/images/footerFenetres.jpg" /></div>
    </div>
</section>  

{{ global.request.universeId }}

{% endblock %}
