{% extends "layout.html" %}

{% block content %}

<section id="univers">
    <div class="container-fluid">
	   <div><img src="/images/footerFenetres.jpg" /></div>
    </div>
</section>  

{% endblock %}
