<ul class="nav nav-tabs">
  <li class="active">
  	<a data-toggle="tab" href="#PVC"><img src="https://imgs.abtasty.com/257732/1492007878pvc.png">PVC</a>
  </li>
  <li>
  	<a data-toggle="tab" href="#Pin"><img src="https://imgs.abtasty.com/257732/1492007951pin.png">Pin</a>
  </li>
  <li>
  	<a data-toggle="tab" href="#Chene"><img src="https://imgs.abtasty.com/257732/1492007990chene.png">Chene</a>
  </li>
  <li>
  	<a data-toggle="tab" href="#Aluminium"><img src="https://imgs.abtasty.com/257732/1492008108alu.png">Aluminium</a>
  </li>
  <li>
  	<a data-toggle="tab" href="#Alubois"><img src="https://imgs.abtasty.com/257732/1492008297alubois.png">Alubois</a>
  </li>
</ul>

<div class="tab-content"> 
  	<div id="#PVC" class="tab-pane fane in">
  	<h1>PVC</h1>
  	</div>
  	<div id="#Pin" class="tab-pane fane in">
  	<h1>Pin</h1>
  	</div>
  	<div id="#Chene" class="tab-pane fane in">
  	<h1>Chene</h1>
  	</div>
  	<div id="#Aluminium" class="tab-pane fane in">
  	<h1>Aluminium</h1>
  	</div>
  	<div id="#Alubois" class="tab-pane fane in">
  	<h1>Alubois</h1>
  	</div>
</div>  