.categoryName {
    max-width: inherit !important;
}

.familyContainer {
    width: 100%;
    max-width: 1280px;
    position: relative;
}

.familyContainer .row {
    margin-bottom: 0;
}

.familyContainer .familyHeader {
    background-repeat: no-repeat;
    background-position: top center;
    height: 320px;
    position: relative;
}

.familyContainer .familyHeader p {
    position: absolute;
    top: 80px;
    color: #fff;
    width: 100%;
    text-align: center;
    font-weight: 700;
    font-size: 32px;
    letter-spacing: 1px;
    text-shadow: 0px 0px 12px #000;
}

.familyContainer .familyHeader span {
    position: absolute;
    top: 150px;
    color: #fff;
    width: 60%;
    font-weight: 400;
    margin: 0 20%;
    line-height: 1.6em;
    font-size: 16px;
    text-align: center;
    text-shadow: 0px 0px 12px #000;
}

.familyContainer .subFamilyContainer:hover {
    text-decoration: underline;
    cursor: pointer;
}
.familyContainer .subFamilyContainerOther:hover {
    cursor: inherit !important;
    text-decoration: none !important;
}

.subFamilyContainerOther legend {
    text-align: left;
    margin-left: 20px;
}

.familyContainer .subFamilyContainer {
    border: 10px solid #f1f1f1;
    margin: 0 0 19px 0;
}

.familyContainer .subFamilyContainerOther {
   /* display: inline-block; */
    min-width: 250px;
}

.familyContainer .subFamilyContainerOther>div:hover {
    text-decoration: underline;
    cursor: pointer;
}

.familyContainer .subFamilyContainer legend {
    width: 80%;
    font-weight: 700;
    padding: 0 10px;
    height: 63px;
    max-width: 300px;
}

.familyContainer .subFamilyContainer legend div {
    color: #000;
    text-align: center;
    line-height: 1.2em;
    height: 60px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.familyContainer .subFamilyImage {
    margin: 0 20px 20px 20px;
    height: 190px;
    overflow: hidden;
}

.familyContainer .subFamilyImageTiny {
    height: 130px;
}

.familyContainer .subFamilyImage div {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: #fff;
    width: 100%;
    height: 100%;
    transition: all .5s;
}

.familyContainer .subFamilyImage div:hover {
    transform: scale(1.1);
    transition: all 1.5s;
}

.familyContainer .subFamilyImage:hover div:before, .familyContainer .subFamilyImage:focus div:before {
    display: block;}

.familyContainer .subFamilyImage div:before {
    content: "";
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.2);
}

.familyContainer .subFamilyContainerOther legend {
    width: 50%;
    max-width: 200px;
}

.familyContainer .subFamilyContainerOther > div {
    font-size: 13px;
    margin-bottom: 10px;
    width: 80px;
    line-height: 1.2em;
}

.familyContainer .subFamilyContainerOther > div > div:nth-of-type(1) {
    height: 45px;
    background-position: center center !important;
    background-size: cover;
    background-repeat: no-repeat; 
    max-width: 100px;
}
   
.familyContainer h2 {
    color: #646665;
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 20px;
    line-height: 1.3em;
    position: relative;
}

.familyContainer p {
    font-weight: 400;
    font-size: 14px;
    padding: 10px 0;
    line-height: 1.6em;
    color: #000;
    margin-bottom: 40px;
}

@media screen and (max-width: 768px) {
  .familyContainer .subFamilyContainer {
     margin: 0 auto 19px auto;
  }
}

