.listLeft {
    float: left;
    width: 240px;
    padding: 20px 0;
    margin: 15px 40px 40px 40px;
    font-size: 14px;
    line-height: 1.2em;
    display: inline-block;
    color: #212121;
}

.listLeft>div:nth-of-type(1) {
    border: #f2f3f5 solid 2px;
}

.listLeft>div>div:nth-of-type(1) {
    padding: 20px 20px 0 20px;
}

.listLeft h3 {
    font-size:16px;
    font-weight: 700;
}

.listLeft h3 a {
    text-decoration: none;
    color: #212121;
}

.listLeft ul {
    padding: 20px 0 15px;
}

.listLeft ul li {
    line-height: 2em;
    padding-left: 10px;
}

.listFilters {
    background: #f2f3f5;
    padding: 1px;
}

.listSubFilters {
    background: #fff;
    padding:5px;
    margin:10px;
}

.listSubFilters img {
    width: 95%;   
}

.listLeft .listFilters ul {
    
}

.listLeft .listFilters ul li {
    
}

.listLeft .listFilters ul li:nth-of-type(1) {
    font-weight: 700;
}

.listLeft .listFilters ul li input {
    margin-right: 10px;
    vertical-align: top;
    margin-top: 3px;
}

.listLeft .listFilters ul li span {
    display: inline-block;
    width: 165px;
    line-height: 1.3em;
}

.listLeft>div>div>ul li strong {
    font-weight: 700;
}

.listLeft ul li a {
    color: #212121;
    text-decoration: none;
}

.listTool img {
    width: 100%;
    padding: 30px 0;
}

.listIntro {
    color: #adadad;
    font-weight: 100;
    font-size: 12px;
    line-height: 1.5em;
}

.listRight {
    padding-top: 40px;
    padding-bottom: 40px;
    display: inline-block;
    width: 960px;
    background: url(../images/liste_tri.png) no-repeat 590px 30px;
}



.list nav strong {
    color: #212121;
    font-weight: 700;
}

.list nav span {
    padding: 0 10px;
    display: inline-block;
}

.listRight h1 {
    font-weight: 100;
    font-size: 14px;
    color:grey;
    padding-bottom: 20px;
}

.listRight h1 strong {
    font-size: 24px;
    font-weight: 700;
    color: #212121;
    padding-right: 5px;
}

.liste_bottom {
    border: none !important;
    padding-top: 30px;
    margin-top: 30px !important;
    border-top: 1px solid #ccc !important;
}

.listRight img {
    border: #f2f3f5 solid 2px;
    margin: 7px;
}

.listMEA {
    background: #f2f3f5;
    margin-bottom: 30px;
    width: 890px;
    padding: 10px;
    text-align: center;
}

.list .ssfamille {
    padding: 20px;
    margin: 20px;
    height: 120px;
}

.list legend {
    padding: 0 10px;
    font-weight: 700;
}

.list .ssfamilleBloc {
    border: 10px solid #fff;
    width: 180px;
    margin: 10px;
}

.list .ssfamilleBloc:nth-of-type(n+5) {
    display: none;
}

nav a {
    color: inherit;
    text-decoration: inherit;
}

.list .ssfamille {
    background: #efefef;
}

#filtersCustom ul:nth-of-type(1) {
    display: none;
}