<div class="container">

    <nav> <a href="javascript:history.back()"><strong>&lt; Retour </strong></a><span>|</span> <a href="https://www.lapeyre.fr">Accueil</a> <span>></span> <a href="" id="breadcrumbUnivers"></a><span>></span> <strong></strong></nav>

</div>