 

<br clear="all" />
<div id="WC_CheckoutBottomESpotDisplay_div_1" class="left">
{% include 'ContentRecommendation.jsp.twig' %}
</div>
<div id="WC_CheckoutBottomESpotDisplay_div_2" class="espot_checkout_bottom_right">
{% include ContentRecommendation.jsp.twig %}
</div>
<br clear="all" />
 
