{% extends "layout.html" %}

{% block content %}

<div class="container">
<iframe class="img-responsive" scrolling="no" src="https://lapeyre-configurateur.herokuapp.com/" style="width:100%; height:100%; border:none; margin:0; padding:0; overflow:hidden;"></iframe>
</div>
{% endblock %}