 
<span class="highlight">
<div class="jspcaption" style="display:none">Empty.jsp</div>
<!-- Set the taglib -->
<div class="card_info">
	<span class="col1">
{% include 'PaymentAmount.jspf.twig' %}

	</span>
</div>
</span>
 
 
<span class="highlight">
<div class="jspcaption" style="display:none">Empty.jsp</div>
<!-- Set the taglib -->
<div class="card_info">
	<span class="col1">
{{ include PaymentAmount.jspf.twig %}

	</span>
</div>
</span>
 
 
<span class="highlight">
<div class="jspcaption" style="display:none">Empty.jsp</div>
<!-- Set the taglib -->
<div class="card_info">
	<span class="col1">
{{ include PaymentAmount.jspf.twig %}

	</span>
</div>
</span>
 
