<header>
    <div class="container-fluid">
   <div><img src="/images/header.jpg" /></div>
   <div class="mag"><img src="" /></div>
   <div class="menu">
       <div class="menuBtn" style="width:130px;" data-univers="Fenêtres" onclick="javascript:location.href = '/fenetres-CCU0003'"></div>
       <div class="menuBtn" style="width:100px;" data-univers="Portes" onclick="javascript:location.href = '/portes-CCU0004'"></div>
       <div class="menuBtn" style="width:100px;" data-univers="Cuisine" onclick="javascript:location.href = '/cuisine-CCU0001'"></div>
       <div class="menuBtn" style="width:145px;" data-univers="Salle de bains" onclick="javascript:location.href = '/bain-CCU0002'"></div>
       <div class="menuBtn" style="width:137px;" data-univers="Rangements" onclick="javascript:location.href = '/rangements-CCU0005'"></div>
       <div class="menuBtn" style="width:124px;" data-univers="Escaliers" onclick="javascript:location.href = '/escaliers-CCU0006'"></div>
       <div class="menuBtn" style="width:130px;" data-univers="Sols & murs" onclick="javascript:location.href = '/solsetmurs-CCU0007'"></div>
       <div class="menuBtn" style="width:120px;" data-univers="Extérieur" onclick="javascript:location.href = '/exterieur-CCU0008'"></div>
   </div>
   {% for i in 1..10 %}
    <div class="megamenu Fenêtres et Volets" style="display: block;">
      <div class="megamenuLeft"><img src="https://static.lapeyre.fr/img/catalogue/desktopList/309/242/VN-201309242.jpg"></div>
      <div class="megamenuCenter">
        <span><a>Voir tous les produits</a></span>
        <ul>
          <li>
            <p>Fenêtres de toit</p>
            <p><a href="liste.html?famille=Fen%C3%AAtres%20et%20Lucarnes%20de%20toit&amp;univers=Fen%C3%AAtres%20et%20Volets">Fenêtres et Lucarnes de toit</a></p>
            <p><a href="liste.html?famille=Raccords&amp;univers=Fen%C3%AAtres%20et%20Volets">Raccords</a></p>
            <p><a href="liste.html?famille=Stores%20et%20volets&amp;univers=Fen%C3%AAtres%20et%20Volets">Stores et volets</a></p>
            <p><a href="liste.html?famille=Sun%20Tunnel&amp;univers=Fen%C3%AAtres%20et%20Volets">Sun Tunnel</a></p>
          </li>
          <li>
            <p>Accessoires</p>
            <p><a href="liste.html?famille=Poign%C3%A9es&amp;univers=Fen%C3%AAtres%20et%20Volets">Poignées</a></p>
            <p><a href="liste.html?famille=Grilles%20de%20d%C3%A9fense&amp;univers=Fen%C3%AAtres%20et%20Volets">Grilles de défense</a></p>
            <p><a href="liste.html?famille=Appuis%20de%20fen%C3%AAtre&amp;univers=Fen%C3%AAtres%20et%20Volets">Appuis de fenêtre</a></p>
            <p><a href="liste.html?famille=Moustiquaires&amp;univers=Fen%C3%AAtres%20et%20Volets">Moustiquaires</a></p>
          </li>
          <li>
            <p>Volets</p>
            <p><a href="liste.html?famille=Volets&amp;univers=Fen%C3%AAtres%20et%20Volets">Volets</a></p>
            <p><a href="liste.html?famille=Accessoires%20de%20volets&amp;univers=Fen%C3%AAtres%20et%20Volets">Accessoires de volets</a></p>
            <p><a href="liste.html?famille=Motorisations&amp;univers=Fen%C3%AAtres%20et%20Volets">Motorisations</a></p>
          </li>
        </ul>
      </div>
      <div class="megamenuRight">
        <p>Le Mag</p>
        <ul>
          <li><span></span>Porte Standard ou sur mesure?</li>
          <li><span></span>Personnalisez votre porte</li>
          <li><span></span>Sécurité des portes d'entrée</li>
        </ul>
        <p><a>Voir tous les articles</a></p>
      </div>
    </div>
    {% endfor %}
   <div class="ancre"></div>
   </div>
</header>