 

<span class="payment_amount">
	<label for="piAmount_1_display" class="nodisplay">
		required information Amount
	</label>
	<span class="required-field">*</span>
	Amount:	
</span>
<br/>
<span> 	
	<input aria-required="true" type="text" name="piAmount_display" value="100.00" id="piAmount_1_display" onchange="JavaScript:CheckoutPayments.validateAmount('PaymentForm','1');CheckoutPayments.updatePaymentObject(1, 'piAmount');"/>
	<input type="hidden" name="piAmount" value="100.00000" id="piAmount_1" onchange="CheckoutPayments.formatAmountDisplayForLocale('1')" />	
</span>
 
 

<span class="payment_amount">
	<label for="piAmount_2_display" class="nodisplay">
		required information Amount
	</label>
	<span class="required-field">*</span>
	Amount:	
</span>
<br/>
<span> 	
	<input aria-required="true" type="text" name="piAmount_display" value="100.00" id="piAmount_2_display" onchange="JavaScript:CheckoutPayments.validateAmount('PaymentForm','2');CheckoutPayments.updatePaymentObject(2, 'piAmount');"/>
	<input type="hidden" name="piAmount" value="100.00000" id="piAmount_2" onchange="CheckoutPayments.formatAmountDisplayForLocale('2')" />	
</span>
 
 

<span class="payment_amount">
	<label for="piAmount_3_display" class="nodisplay">
		required information Amount
	</label>
	<span class="required-field">*</span>
	Amount:	
</span>
<br/>
<span> 	
	<input aria-required="true" type="text" name="piAmount_display" value="100.00" id="piAmount_3_display" onchange="JavaScript:CheckoutPayments.validateAmount('PaymentForm','3');CheckoutPayments.updatePaymentObject(3, 'piAmount');"/>
	<input type="hidden" name="piAmount" value="100.00000" id="piAmount_3" onchange="CheckoutPayments.formatAmountDisplayForLocale('3')" />	
</span>
 
