{% extends "layout.html" %}

{% block content %}

<div class="container">
  <br>
  <br>
  <ul class="nav nav-tabs row">
    <li class="col-md-3 active">
      <a data-toggle="tab" href="#PVC"><img class="img-responsive" src="https://imgs.abtasty.com/257732/1492007878pvc.png"><p>PVC</p></a>
    </li>
    <li class="col-md-3">
      <a data-toggle="tab" href="#Pin"><img class="img-responsive" src="https://imgs.abtasty.com/257732/1492007951pin.png"><p>Pin</p></a>
    </li>
    <li class="col-md-3">
      <a data-toggle="tab" href="#Chene"><img class="img-responsive" src="https://imgs.abtasty.com/257732/1492007990chene.png"><p>Chene</p></a>
    </li>
    <li class="col-md-3">
      <a data-toggle="tab" href="#Aluminium"><img class="img-responsive" src="https://imgs.abtasty.com/257732/1492008108alu.png"><p>Aluminium</p></a>
    </li>
    <!--
    <li>
      <a data-toggle="tab" href="#Alubois"><img src="https://imgs.abtasty.com/257732/1492008297alubois.png">Alubois</a>
    </li>
    -->
  </ul><br>
  <br>
  <div class="tab-content">
    <div class="tab-pane fane in active" id="PVC">


                         PVC : 
• Ouvrant et dormant 60 mm et 100 mm pour les fenêtres avec volets roulants
• Double vitrage 24 mm avec gaz Argon
• Double joint d’isolation thermique et acoustique 
+ une puce avec les configurations possibles avec le texte ci-dessous : 
- Fenêtres  
- Porte-fenêtres à clé 
- Fenêtres avec vitrages adaptés pour la SDB
- Fenêtres avec volets roulants intégrés
+ le nombre de références pour chaque configuration (à reprendre des pastilles dimensions)
+ logos qualité : NF, Garantie 10 ans, signé Lapeyre, Crédit d’impôt, Uw 1.4



      <table class="table table-bordered table-striped text-center">
        <thead>
          <tr>
            <th>Largeur</th>
            <th>80</th>
            <th>90</th>
            <th>100</th>
            <th>110</th>
            <th>120</th>
            <th>140</th>
            <th>100</th>
            <th>120</th>
            <th>140</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Hauteur</td>
            <td colspan="6">Battant</td>
            <td colspan="3">Oscillo battant</td>
          </tr>
          <tr>
            <th>60</th>
            <td>
              <a href="/article-2377740">123 €</a>
            </td>
            <td>
              <a href="/article-2377750">135 €</a>
            </td>
            <td>
              <a href="/article-2186160">128 €</a>
            </td>
            <td>
              <a>&nbsp;&nbsp;</a>
            </td>
            <td>
              <a href="/article-2186170">139 €</a>
            </td>
            <td>
              <a>&nbsp;&nbsp;</a>
            </td>
            <td>
              <a>&nbsp;&nbsp;</a>
            </td>
            <td>
              <a>&nbsp;&nbsp;</a>
            </td>
            <td>
              <a>&nbsp;&nbsp;</a>
            </td>
          </tr>
          <tr>
            <th>75</th>
            <td>
              <a href="/article-2377780">135 €</a>
            </td>
            <td>
              <a href="/article-2377790">147 €</a>
            </td>
            <td>
              <a href="/article-2186180">79 €</a>
            </td>
            <td>
              <a>&nbsp;&nbsp;</a>
            </td>
            <td>
              <a href="/article-2186190">107 €</a>
            </td>
            <td>
              <a href="/article-2186200">156 €</a>
            </td>
            <td>
              <a>&nbsp;&nbsp;</a>
            </td>
            <td>
              <a>&nbsp;&nbsp;</a>
            </td>
            <td>
              <a>&nbsp;&nbsp;</a>
            </td>
          </tr>
          <tr>
            <th>95</th>
            <td>
              <a href="/article-2186210">115 €</a>
            </td>
            <td>
              <a href="/article-2377810">119 €</a>
            </td>
            <td>
              <a href="/article-2186220">107 €</a>
            </td>
            <td>
              <a href="/article-2377820">156 €</a>
            </td>
            <td>
              <a href="/article-2186230">109 €</a>
            </td>
            <td>
              <a href="/article-2186240">147 €</a>
            </td>
            <td>
              <a href="/article-2187160">126 €</a>
            </td>
            <td>
              <a href="/article-2187170">129 €</a>
            </td>
            <td>
              <a>&nbsp;&nbsp;</a>
            </td>
          </tr>
          <tr>
            <th>105</th>
            <td>
              <a href="/article-2186250">106 €</a>
            </td>
            <td>
              <a href="/article-2186260">113 €</a>
            </td>
            <td>
              <a href="/article-2186270">90 €</a>
            </td>
            <td>
              <a href="/article-2377840">161 €</a>
            </td>
            <td>
              <a href="/article-2186280">109 €</a>
            </td>
            <td>
              <a href="/article-2186290">139 €</a>
            </td>
            <td>
              <a>&nbsp;&nbsp;</a>
            </td>
            <td>
              <a href="/article-2187190">127 €</a>
            </td>
            <td>
              <a>&nbsp;&nbsp;</a>
            </td>
          </tr>
          <tr>
            <th>115</th>
            <td>
              <a href="/article-2186300">117 €</a>
            </td>
            <td>
              <a href="/article-2186310">117 €</a>
            </td>
            <td>
              <a href="/article-2186320">99 €</a>
            </td>
            <td>
              <a href="/article-2186330">129 €</a>
            </td>
            <td>
              <a href="/article-2186340">110 €</a>
            </td>
            <td>
              <a href="/article-2186360">149 €</a>
            </td>
            <td>
              <a href="/article-2187200">116 €</a>
            </td>
            <td>
              <a href="/article-2187210">138 €</a>
            </td>
            <td>
              <a href="/article-2187220">177 €</a>
            </td>
          </tr>
          <tr>
            <th>125</th>
            <td>
              <a href="/article-2186370">119 €</a>
            </td>
            <td>
              <a href="/article-2186380">127 €</a>
            </td>
            <td>
              <a href="/article-2186390">111 €</a>
            </td>
            <td>
              <a href="/article-2186400">139 €</a>
            </td>
            <td>
              <a href="/article-2186410">116 €</a>
            </td>
            <td>
              <a href="/article-2186430">151 €</a>
            </td>
            <td>
              <a href="/article-2187230">134 €</a>
            </td>
            <td>
              <a href="/article-2187240">146 €</a>
            </td>
            <td>
              <a href="/article-2187250">189 €</a>
            </td>
          </tr>
          <tr>
            <th>135</th>
            <td>
              <a href="/article-2186440">125 €</a>
            </td>
            <td>
              <a href="/article-2186450">135 €</a>
            </td>
            <td>
              <a href="/article-2186460">105 €</a>
            </td>
            <td>
              <a href="/article-2186470">145 €</a>
            </td>
            <td>
              <a href="/article-2186480">120 €</a>
            </td>
            <td>
              <a href="/article-2186500">155 €</a>
            </td>
            <td>
              <a href="/article-2187260">143 €</a>
            </td>
            <td>
              <a href="/article-2187270">152 €</a>
            </td>
            <td>
              <a>&nbsp;&nbsp;</a>
            </td>
          </tr>
          <tr>
            <th>145</th>
            <td>
              <a href="/article-2186510">139 €</a>
            </td>
            <td>
              <a href="/article-2186520">110 €</a>
            </td>
            <td>
              <a href="/article-2186530">139 €</a>
            </td>
            <td>
              <a href="/article-2186540">154 €</a>
            </td>
            <td>
              <a href="/article-2186550">150 €</a>
            </td>
            <td>
              <a href="/article-2186560">171 €</a>
            </td>
            <td>
              <a href="/article-2187290">154 €</a>
            </td>
            <td>
              <a href="/article-2187300">168 €</a>
            </td>
            <td>
              <a>&nbsp;&nbsp;</a>
            </td>
          </tr>
          <tr>
            <th>155</th>
            <td>
              <a href="/article-2186570">153 €</a>
            </td>
            <td>
              <a href="/article-2186580">126 €</a>
            </td>
            <td>
              <a href="/article-2186590">131 €</a>
            </td>
            <td>
              <a href="/article-2186600">174 €</a>
            </td>
            <td>
              <a href="/article-2186610">167 €</a>
            </td>
            <td>
              <a href="/article-2186620">188 €</a>
            </td>
            <td>
              <a>&nbsp;&nbsp;</a>
            </td>
            <td>
              <a>&nbsp;&nbsp;</a>
            </td>
            <td>
              <a>&nbsp;&nbsp;</a>
            </td>
          </tr>
          <tr>
            <th>165</th>
            <td>
              <a href="/article-2186630">151 €</a>
            </td>
            <td>
              <a href="/article-2186640">135 €</a>
            </td>
            <td>
              <a href="/article-2186650">145 €</a>
            </td>
            <td>
              <a href="/article-2186660">184 €</a>
            </td>
            <td>
              <a href="/article-2186670">175 €</a>
            </td>
            <td>
              <a>&nbsp;&nbsp;</a>
            </td>
            <td>
              <a>&nbsp;&nbsp;</a>
            </td>
            <td>
              <a>&nbsp;&nbsp;</a>
            </td>
            <td>
              <a>&nbsp;&nbsp;</a>
            </td>
          </tr>
          <tr>
            <th>175</th>
            <td>
              <a>&nbsp;&nbsp;</a>
            </td>
            <td>
              <a href="/article-2186690">154 €</a>
            </td>
            <td>
              <a href="/article-2186700">159 €</a>
            </td>
            <td>
              <a href="/article-2186710">186 €</a>
            </td>
            <td>
              <a href="/article-2186720">193 €</a>
            </td>
            <td>
              <a>&nbsp;&nbsp;</a>
            </td>
            <td>
              <a>&nbsp;&nbsp;</a>
            </td>
            <td>
              <a>&nbsp;&nbsp;</a>
            </td>
            <td>
              <a>&nbsp;&nbsp;</a>
            </td>
          </tr>
          <tr>
            <th>180</th>
            <td>
              <a>&nbsp;&nbsp;</a>
            </td>
            <td>
              <a href="/article-2186730">178 €</a>
            </td>
            <td>
              <a href="/article-2186740">178 €</a>
            </td>
            <td>
              <a href="/article-2186750">197 €</a>
            </td>
            <td>
              <a>&nbsp;&nbsp;</a>
            </td>
            <td>
              <a>&nbsp;&nbsp;</a>
            </td>
            <td>
              <a>&nbsp;&nbsp;</a>
            </td>
            <td>
              <a>&nbsp;&nbsp;</a>
            </td>
            <td>
              <a>&nbsp;&nbsp;</a>
            </td>
          </tr>
          <tr>
            <th>190</th>
            <td>
              <a>&nbsp;&nbsp;</a>
            </td>
            <td>
              <a href="/article-2186770">195 €</a>
            </td>
            <td>
              <a href="/article-2186780">199 €</a>
            </td>
            <td>
              <a href="/article-2186790">229 €</a>
            </td>
            <td>
              <a href="/article-2186800">200 €</a>
            </td>
            <td>
              <a>&nbsp;&nbsp;</a>
            </td>
            <td>
              <a>&nbsp;&nbsp;</a>
            </td>
            <td>
              <a>&nbsp;&nbsp;</a>
            </td>
            <td>
              <a>&nbsp;&nbsp;</a>
            </td>
          </tr>
          <tr>
            <th>200</th>
            <td>
              <a>&nbsp;&nbsp;</a>
            </td>
            <td>
              <a href="/article-2186810">195 €</a>
            </td>
            <td>
              <a href="/article-2186820">199 €</a>
            </td>
            <td>
              <a href="/article-2186830">234 €</a>
            </td>
            <td>
              <a href="/article-2186840">229 €</a>
            </td>
            <td>
              <a>&nbsp;&nbsp;</a>
            </td>
            <td>
              <a>&nbsp;&nbsp;</a>
            </td>
            <td>
              <a>&nbsp;&nbsp;</a>
            </td>
            <td>
              <a>&nbsp;&nbsp;</a>
            </td>
          </tr>
          <tr>
            <th>210</th>
            <td>
              <a>&nbsp;&nbsp;</a>
            </td>
            <td>
              <a>&nbsp;&nbsp;</a>
            </td>
            <td>
              <a href="/article-2186850">219 €</a>
            </td>
            <td>
              <a href="/article-2186860">259 €</a>
            </td>
            <td>
              <a href="/article-2186870">249 €</a>
            </td>
            <td>
              <a>&nbsp;&nbsp;</a>
            </td>
            <td>
              <a>&nbsp;&nbsp;</a>
            </td>
            <td>
              <a>&nbsp;&nbsp;</a>
            </td>
            <td>
              <a>&nbsp;&nbsp;</a>
            </td>
          </tr>
        </tbody>
      </table>
      <table class="table table-bordered table-striped text-center">
        <thead>
          <tr>
            <th>Largeur</th>
            <th>80</th>
            <th>90</th>
            <th>100</th>
            <th>120</th>
            <th>140</th>
            <th>180</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Hauteur</td>
            <td>1 vantail</td>
            <td>2 vantaux</td>
            <td>3 vantaux</td>
          </tr>
          <tr>
            <th>195</th>
            <td>
              <a href="/article-2186902">205 €</a>
            </td>
            <td>
              <a href="/article-2186912">217 €</a>
            </td>
            <td>
              <a href="/article-2186960">267 €</a>
            </td>
            <td>
              <a href="/article-2186970">267 €</a>
            </td>
            <td>
              <a href="/article-2186980">299 €</a>
            </td>
            <td>
              <a>&nbsp;&nbsp;</a>
            </td>
          </tr>
          <tr>
            <th>205</th>
            <td>
              <a href="/article-2186922">155 €</a>
            </td>
            <td>
              <a href="/article-2186932">223 €</a>
            </td>
            <td>
              <a href="/article-2186990">219 €</a>
            </td>
            <td>
              <a href="/article-2187000">234 €</a>
            </td>
            <td>
              <a href="/article-2187010">305 €</a>
            </td>
            <td>
              <a>&nbsp;&nbsp;</a>
            </td>
          </tr>
          <tr>
            <th>215</th>
            <td>
              <a href="/article-2186942">148 €</a>
            </td>
            <td>
              <a href="/article-2186952">201 €</a>
            </td>
            <td>
              <a href="/article-2187020">227 €</a>
            </td>
            <td>
              <a href="/article-2187030">231 €</a>
            </td>
            <td>
              <a href="/article-2187050">249 €</a>
            </td>
            <td>
              <a href="/article-2187090">356 €</a>
            </td>
          </tr>
          <tr>
            <th>225</th>
            <td>
              <a href="/article-2439012">223 €</a>
            </td>
            <td>
              <a href="/article-2439022">237 €</a>
            </td>
            <td>
              <a href="/article-2187060">306 €</a>
            </td>
            <td>
              <a href="/article-2187070">316 €</a>
            </td>
            <td>
              <a href="/article-2187080">329 €</a>
            </td>
            <td>
              <a>&nbsp;&nbsp;</a>
            </td>
          </tr>
        </tbody>
      </table>
      <table class="table table-bordered table-striped text-center">
        <thead>
          <tr>
            <th>Largeur</th>
            <th>40</th>
            <th>60</th>
            <th>80</th>
            <th>90</th>
            <th>100</th>
            <th>120</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Hauteur</td>
            <td>1 vantail</td>
          </tr>
          <tr>
            <th>45</th>
            <td>
              <a href="/article-1%20vantail">65 €</a>
            </td>
            <td>
              <a href="/article-">65 €</a>
            </td>
            <td>
              <a href="/article-">77 €</a>
            </td>
            <td>
              <a href="/article-">99 €</a>
            </td>
            <td>
              <a href="/article-">79 €</a>
            </td>
            <td>
              <a href="/article-">89 €</a>
            </td>
          </tr>
          <tr>
            <th>60</th>
            <td>
              <a>&nbsp;&nbsp;</a>
            </td>
            <td>
              <a>&nbsp;&nbsp;</a>
            </td>
            <td>
              <a href="/article-2185930">109 €</a>
            </td>
            <td>
              <a href="/article-2185940">119 €</a>
            </td>
            <td>
              <a href="/article-2185950">120 €</a>
            </td>
            <td>
              <a href="/article-2185960">130 €</a>
            </td>
          </tr>
        </tbody>
      </table>
      <table class="table table-bordered table-striped text-center">
        <thead>
          <tr>
            <th>Largeur</th>
            <th>40</th>
            <th>50</th>
            <th>60</th>
            <th>80</th>
            <th>40</th>
            <th>60</th>
            <th>80</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Hauteur</td>
            <td>1 vantail</td>
            <td>1 vantail<br>
            Ouverture Oscillo battant</td>
          </tr>
          <tr>
            <th>45</th>
            <td>
              <a href="/article-2186002">54 €</a>
            </td>
            <td>
              <a href="/article-2377582">79 €</a>
            </td>
            <td>
              <a href="/article-2377592">68 €</a>
            </td>
            <td>
              <a>&nbsp;&nbsp;</a>
            </td>
            <td>
              <a>&nbsp;&nbsp;</a>
            </td>
            <td>
              <a>&nbsp;&nbsp;</a>
            </td>
            <td>
              <a>&nbsp;&nbsp;</a>
            </td>
          </tr>
          <tr>
            <th>60</th>
            <td>
              <a href="/article-2186012">64 €</a>
            </td>
            <td>
              <a href="/article-2186022">75 €</a>
            </td>
            <td>
              <a href="/article-2186032">65 €</a>
            </td>
            <td>
              <a href="/article-2377612">106 €</a>
            </td>
            <td>
              <a href="/article-2187102">85 €</a>
            </td>
            <td>
              <a>&nbsp;&nbsp;</a>
            </td>
            <td>
              <a>&nbsp;&nbsp;</a>
            </td>
          </tr>
          <tr>
            <th>75</th>
            <td>
              <a href="/article-2186042">59 €</a>
            </td>
            <td>
              <a href="/article-2186052">79 €</a>
            </td>
            <td>
              <a href="/article-2186062">64 €</a>
            </td>
            <td>
              <a href="/article-2186072">75 €</a>
            </td>
            <td>
              <a>&nbsp;&nbsp;</a>
            </td>
            <td>
              <a href="/article-2187112">72 €</a>
            </td>
            <td>
              <a href="/article-2187122">109 €</a>
            </td>
          </tr>
          <tr>
            <th>95</th>
            <td>
              <a href="/article-2377622">97 €</a>
            </td>
            <td>
              <a href="/article-2377632">111 €</a>
            </td>
            <td>
              <a href="/article-2186082">68 €</a>
            </td>
            <td>
              <a href="/article-2186092">80 €</a>
            </td>
            <td>
              <a>&nbsp;&nbsp;</a>
            </td>
            <td>
              <a href="/article-2187132">80 €</a>
            </td>
            <td>
              <a href="/article-2187142">119 €</a>
            </td>
          </tr>
          <tr>
            <th>105</th>
            <td>
              <a>&nbsp;&nbsp;</a>
            </td>
            <td>
              <a href="/article-2377652">117 €</a>
            </td>
            <td>
              <a href="/article-2186102">79 €</a>
            </td>
            <td>
              <a href="/article-2186112">90 €</a>
            </td>
            <td>
              <a>&nbsp;&nbsp;</a>
            </td>
            <td>
              <a>&nbsp;&nbsp;</a>
            </td>
            <td>
              <a>&nbsp;&nbsp;</a>
            </td>
          </tr>
          <tr>
            <th>115</th>
            <td>
              <a>&nbsp;&nbsp;</a>
            </td>
            <td>
              <a href="/article-2377672">123 €</a>
            </td>
            <td>
              <a href="/article-2186122">84 €</a>
            </td>
            <td>
              <a href="/article-2186132">100 €</a>
            </td>
            <td>
              <a>&nbsp;&nbsp;</a>
            </td>
            <td>
              <a>&nbsp;&nbsp;</a>
            </td>
            <td>
              <a>&nbsp;&nbsp;</a>
            </td>
          </tr>
          <tr>
            <th>150</th>
            <td>
              <a href="/article-2438052">175 €</a>
            </td>
            <td>
              <a>&nbsp;&nbsp;</a>
            </td>
            <td>
              <a>&nbsp;&nbsp;</a>
            </td>
            <td>
              <a>&nbsp;&nbsp;</a>
            </td>
            <td>
              <a>&nbsp;&nbsp;</a>
            </td>
            <td>
              <a>&nbsp;&nbsp;</a>
            </td>
            <td>
              <a>&nbsp;&nbsp;</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="tab-pane fane in" id="Pin">


                      
<p>Ouvrant 46 mm et dormant 45 mm</p>
<p>Double vitrage 24 mm avec gaz Argon</p>
<p>Double joint d’isolation thermique et acoustique </p>
<p>une puce avec les configurations possibles avec le texte ci-dessous : </p>
<p>Fenêtres </p>
<p>Porte-fenêtres à clé </p>
<p>le nombre de références pour chaque configuration</p>
<p>logos qualité : NF, Garantie 10 ans, signé Lapeyre, Crédit d’impôt, Uw 1.5, PEFC</p>

<h2>Fenêtres</h2>

      <table class="table table-bordered table-striped text-center">
        <thead>
          <tr>
            <th>Largeur</th>
            <th>80</th>
            <th>90</th>
            <th>100</th>
            <th>110</th>
            <th>120</th>
            <th>140</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Hauteur</td>
            <td>2 vantaux</td>
          </tr>
          <tr>
            <th>75</th>
            <td>
              <a href="/article-2309620">131 €</a>
            </td>
            <td>
              <a href="/article-2309630">209 €</a>
            </td>
            <td>
              <a href="/article-2309640">127 €</a>
            </td>
            <td>
              <a>&nbsp;&nbsp;</a>
            </td>
            <td>
              <a href="/article-2309660">136 €</a>
            </td>
            <td>
              <a>&nbsp;&nbsp;</a>
            </td>
          </tr>
          <tr>
            <th>95</th>
            <td>
              <a href="/article-2309680">161 €</a>
            </td>
            <td>
              <a href="/article-2309690">164 €</a>
            </td>
            <td>
              <a href="/article-2309700">144 €</a>
            </td>
            <td>
              <a>&nbsp;&nbsp;</a>
            </td>
            <td>
              <a href="/article-2309720">158 €</a>
            </td>
            <td>
              <a href="/article-2309730">177 €</a>
            </td>
          </tr>
          <tr>
            <th>105</th>
            <td>
              <a href="/article-2309740">156 €</a>
            </td>
            <td>
              <a href="/article-2309750">143 €</a>
            </td>
            <td>
              <a href="/article-2309760">150 €</a>
            </td>
            <td>
              <a>&nbsp;&nbsp;</a>
            </td>
            <td>
              <a href="/article-2309780">168 €</a>
            </td>
            <td>
              <a>&nbsp;&nbsp;</a>
            </td>
          </tr>
          <tr>
            <th>115</th>
            <td>
              <a href="/article-2309800">153 €</a>
            </td>
            <td>
              <a href="/article-2309810">144 €</a>
            </td>
            <td>
              <a href="/article-2309820">155 €</a>
            </td>
            <td>
              <a href="/article-2309830">184 €</a>
            </td>
            <td>
              <a href="/article-2309840">168 €</a>
            </td>
            <td>
              <a href="/article-2309850">214 €</a>
            </td>
          </tr>
          <tr>
            <th>125</th>
            <td>
              <a href="/article-2309860">161 €</a>
            </td>
            <td>
              <a href="/article-2309870">158 €</a>
            </td>
            <td>
              <a href="/article-2309880">161 €</a>
            </td>
            <td>
              <a href="/article-2309890">194 €</a>
            </td>
            <td>
              <a href="/article-2309900">178 €</a>
            </td>
            <td>
              <a href="/article-2309910">204 €</a>
            </td>
          </tr>
          <tr>
            <th>135</th>
            <td>
              <a href="/article-2309920">166 €</a>
            </td>
            <td>
              <a href="/article-2309930">168 €</a>
            </td>
            <td>
              <a href="/article-2309940">176 €</a>
            </td>
            <td>
              <a href="/article-2309950">202 €</a>
            </td>
            <td>
              <a href="/article-2309960">185 €</a>
            </td>
            <td>
              <a href="/article-2309970">225 €</a>
            </td>
          </tr>
          <tr>
            <th>145</th>
            <td>
              <a href="/article-2309980">171 €</a>
            </td>
            <td>
              <a href="/article-2309990">178 €</a>
            </td>
            <td>
              <a href="/article-2310000">189 €</a>
            </td>
            <td>
              <a href="/article-2310010">217 €</a>
            </td>
            <td>
              <a href="/article-2310020">214 €</a>
            </td>
            <td>
              <a href="/article-2310030">269 €</a>
            </td>
          </tr>
          <tr>
            <th>155</th>
            <td>
              <a href="/article-2310040">177 €</a>
            </td>
            <td>
              <a href="/article-2310050">181 €</a>
            </td>
            <td>
              <a href="/article-2310060">196 €</a>
            </td>
            <td>
              <a href="/article-2310070">269 €</a>
            </td>
            <td>
              <a href="/article-2310080">214 €</a>
            </td>
            <td>
              <a>&nbsp;&nbsp;</a>
            </td>
          </tr>
          <tr>
            <th>165</th>
            <td>
              <a href="/article-2310100">208 €</a>
            </td>
            <td>
              <a href="/article-2310110">196 €</a>
            </td>
            <td>
              <a href="/article-2310120">202 €</a>
            </td>
            <td>
              <a href="/article-2310130">262 €</a>
            </td>
            <td>
              <a href="/article-2310140">274 €</a>
            </td>
            <td>
              <a>&nbsp;&nbsp;</a>
            </td>
          </tr>
          <tr>
            <th>175</th>
            <td>
              <a>&nbsp;&nbsp;</a>
            </td>
            <td>
              <a href="/article-2310170">259 €</a>
            </td>
            <td>
              <a href="/article-2310180">220 €</a>
            </td>
            <td>
              <a href="/article-2310190">281 €</a>
            </td>
            <td>
              <a>&nbsp;&nbsp;</a>
            </td>
            <td>
              <a>&nbsp;&nbsp;</a>
            </td>
          </tr>
          <tr>
            <th>180</th>
            <td>
              <a>&nbsp;&nbsp;</a>
            </td>
            <td>
              <a href="/article-2310230">266 €</a>
            </td>
            <td>
              <a href="/article-2310240">262 €</a>
            </td>
            <td>
              <a href="/article-2310250">284 €</a>
            </td>
            <td>
              <a>&nbsp;&nbsp;</a>
            </td>
            <td>
              <a>&nbsp;&nbsp;</a>
            </td>
          </tr>
          <tr>
            <th>190</th>
            <td>
              <a>&nbsp;&nbsp;</a>
            </td>
            <td>
              <a href="/article-2310350">266 €</a>
            </td>
            <td>
              <a href="/article-2310360">277 €</a>
            </td>
            <td>
              <a href="/article-2310370">296 €</a>
            </td>
            <td>
              <a>&nbsp;&nbsp;</a>
            </td>
            <td>
              <a>&nbsp;&nbsp;</a>
            </td>
          </tr>
          <tr>
            <th>200</th>
            <td>
              <a>&nbsp;&nbsp;</a>
            </td>
            <td>
              <a>&nbsp;&nbsp;</a>
            </td>
            <td>
              <a href="/article-2310480">281 €</a>
            </td>
            <td>
              <a href="/article-2310490">299 €</a>
            </td>
            <td>
              <a href="/article-2310500">314 €</a>
            </td>
            <td>
              <a>&nbsp;&nbsp;</a>
            </td>
          </tr>
        </tbody>
      </table>

      <h2>Porte-fenêtres</h2>
      <table class="table table-bordered table-striped text-center">
        <thead>
          <tr>
            <th>Largeur</th>
            <th>80</th>
            <th>90</th>
            <th>100</th>
            <th>110</th>
            <th>120</th>
            <th>130</th>
            <th>140</th>
            <th>150</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Hauteur</td>
            <td>1 vantail</td>
            <td>2 vantaux</td>
          </tr>
          <tr>
            <th>195</th>
            <td>
              <a href="/article-2311045">239 €</a>
            </td>
            <td>
              <a href="/article-2311055">269 €</a>
            </td>
            <td>
              <a href="/article-2311150">299 €</a>
            </td>
            <td>
              <a>&nbsp;&nbsp;</a>
            </td>
            <td>
              <a href="/article-2311170">329 €</a>
            </td>
            <td>
              <a>&nbsp;&nbsp;</a>
            </td>
            <td>
              <a href="/article-2311190">386 €</a>
            </td>
            <td>
              <a>&nbsp;&nbsp;</a>
            </td>
          </tr>
          <tr>
            <th>205</th>
            <td>
              <a href="/article-2311075">208 €</a>
            </td>
            <td>
              <a href="/article-2311085">344 €</a>
            </td>
            <td>
              <a href="/article-2311210">293 €</a>
            </td>
            <td>
              <a>&nbsp;&nbsp;</a>
            </td>
            <td>
              <a href="/article-2311230">320 €</a>
            </td>
            <td>
              <a>&nbsp;&nbsp;</a>
            </td>
            <td>
              <a href="/article-2311250">394 €</a>
            </td>
            <td>
              <a>&nbsp;&nbsp;</a>
            </td>
          </tr>
          <tr>
            <th>215</th>
            <td>
              <a href="/article-2311105">202 €</a>
            </td>
            <td>
              <a href="/article-2311115">296 €</a>
            </td>
            <td>
              <a href="/article-2311270">312 €</a>
            </td>
            <td>
              <a href="/article-2311280">386 €</a>
            </td>
            <td>
              <a href="/article-2311290">326 €</a>
            </td>
            <td>
              <a>&nbsp;&nbsp;</a>
            </td>
            <td>
              <a href="/article-2311310">314 €</a>
            </td>
            <td>
              <a href="/article-2311320">424 €</a>
            </td>
          </tr>
          <tr>
            <th>225</th>
            <td>
              <a>&nbsp;&nbsp;</a>
            </td>
            <td>
              <a>&nbsp;&nbsp;</a>
            </td>
            <td>
              <a href="/article-2311330">371 €</a>
            </td>
            <td>
              <a>&nbsp;&nbsp;</a>
            </td>
            <td>
              <a href="/article-2311350">353 €</a>
            </td>
            <td>
              <a href="/article-2311360">424 €</a>
            </td>
            <td>
              <a href="/article-2311370">349 €</a>
            </td>
            <td>
              <a>&nbsp;&nbsp;</a>
            </td>
          </tr>
        </tbody>
      </table>
      
      <h2>Abbattants</h2>
      <table class="table table-bordered table-striped text-center">
        <thead>
          <tr>
            <th>Largeur</th>
            <th>60</th>
            <th>80</th>
            <th>90</th>
            <th>100</th>
            <th>120</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Hauteur</td>
            <td>1 vantail</td>
          </tr>
          <tr>
            <th>45</th>
            <td>
              <a href="/article-2311400">72 €</a>
            </td>
            <td>
              <a href="/article-2311410">79 €</a>
            </td>
            <td>
              <a href="/article-2311420">127 €</a>
            </td>
            <td>
              <a href="/article-2311430">90 €</a>
            </td>
            <td>
              <a href="/article-2311440">113 €</a>
            </td>
          </tr>
          <tr>
            <th>60</th>
            <td>
              <a>&nbsp;&nbsp;</a>
            </td>
            <td>
              <a href="/article-2311460">139 €</a>
            </td>
            <td>
              <a href="/article-2311470">146 €</a>
            </td>
            <td>
              <a href="/article-2311480">99 €</a>
            </td>
            <td>
              <a href="/article-2311490">115 €</a>
            </td>
          </tr>
        </tbody>
      </table>
      <h2>Chassis</h2>
      <table class="table table-bordered table-striped text-center">
        <thead>
          <tr>
            <th>Largeur</th>
            <th>40</th>
            <th>50</th>
            <th>60</th>
            <th>70</th>
            <th>80</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Hauteur</td>
            <td>1 vantail</td>
          </tr>
          <tr>
            <th>45</th>
            <td>
              <a href="/article-2309082">68 €</a>
            </td>
            <td>
              <a href="/article-2309092">116 €</a>
            </td>
            <td>
              <a>&nbsp;&nbsp;</a>
            </td>
            <td>
              <a>&nbsp;&nbsp;</a>
            </td>
            <td>
              <a href="/article-2309122">134 €</a>
            </td>
          </tr>
          <tr>
            <th>60</th>
            <td>
              <a href="/article-2309132">86 €</a>
            </td>
            <td>
              <a href="/article-2309142">83 €</a>
            </td>
            <td>
              <a href="/article-2309152">75 €</a>
            </td>
            <td>
              <a>&nbsp;&nbsp;</a>
            </td>
            <td>
              <a>&nbsp;&nbsp;</a>
            </td>
          </tr>
          <tr>
            <th>75</th>
            <td>
              <a href="/article-2309182">89 €</a>
            </td>
            <td>
              <a href="/article-2309192">87 €</a>
            </td>
            <td>
              <a href="/article-2309202">76 €</a>
            </td>
            <td>
              <a href="/article-2309212">104 €</a>
            </td>
            <td>
              <a href="/article-2309222">119 €</a>
            </td>
          </tr>
          <tr>
            <th>95</th>
            <td>
              <a>&nbsp;&nbsp;</a>
            </td>
            <td>
              <a href="/article-2309242">139 €</a>
            </td>
            <td>
              <a href="/article-2309252">89 €</a>
            </td>
            <td>
              <a href="/article-2309262">119 €</a>
            </td>
            <td>
              <a href="/article-2309272">131 €</a>
            </td>
          </tr>
          <tr>
            <th>105</th>
            <td>
              <a>&nbsp;&nbsp;</a>
            </td>
            <td>
              <a>&nbsp;&nbsp;</a>
            </td>
            <td>
              <a href="/article-2309302">127 €</a>
            </td>
            <td>
              <a href="/article-2309312">124 €</a>
            </td>
            <td>
              <a href="/article-2309322">139 €</a>
            </td>
          </tr>
          <tr>
            <th>115</th>
            <td>
              <a>&nbsp;&nbsp;</a>
            </td>
            <td>
              <a>&nbsp;&nbsp;</a>
            </td>
            <td>
              <a href="/article-2309352">102 €</a>
            </td>
            <td>
              <a href="/article-2309362">139 €</a>
            </td>
            <td>
              <a href="/article-2309372">146 €</a>
            </td>
          </tr>
          <tr>
            <th>125</th>
            <td>
              <a>&nbsp;&nbsp;</a>
            </td>
            <td>
              <a>&nbsp;&nbsp;</a>
            </td>
            <td>
              <a href="/article-2309402">149 €</a>
            </td>
            <td>
              <a href="/article-2309412">134 €</a>
            </td>
            <td>
              <a href="/article-2309422">149 €</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="tab-pane fane in" id="Chene">
<p>Ouvrant 46 mm et dormant 45 mm</p>
<p>Double vitrage 24 mm avec gaz Argon</p>
<p>Double joint d’isolation thermique et acoustique</p>
<p>une puce avec les configurations possibles avec le texte ci-dessous : </p>
<p>Fenêtres </p>
<p>Porte-fenêtres à clé </p>
<p>le nombre de références pour chaque configuration</p>
<p>logos qualité : NF, Garantie 10 ans, signé Lapeyre, Crédit d’impôt, Uw 1.5, PEFC</p>
      <table class="table table-bordered table-striped text-center">
        <thead>
          <tr>
            <th>Largeur</th>
            <th>80</th>
            <th>90</th>
            <th>100</th>
            <th>110</th>
            <th>120</th>
            <th>140</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Hauteur</td>
            <td>2 vantaux</td>
          </tr>
          <tr>
            <th>60</th>
            <td>
              <a href="/article-2327040">278 €</a>
            </td>
            <td>
              <a>&nbsp;&nbsp;</a>
            </td>
            <td>
              <a href="/article-2327060">220 €</a>
            </td>
            <td>
              <a>&nbsp;&nbsp;</a>
            </td>
            <td>
              <a>&nbsp;&nbsp;</a>
            </td>
            <td>
              <a>&nbsp;&nbsp;</a>
            </td>
          </tr>
          <tr>
            <th>75</th>
            <td>
              <a href="/article-2304080">287 €</a>
            </td>
            <td>
              <a href="/article-2304090">323 €</a>
            </td>
            <td>
              <a href="/article-2304100">240 €</a>
            </td>
            <td>
              <a>&nbsp;&nbsp;</a>
            </td>
            <td>
              <a href="/article-2304120">250 €</a>
            </td>
            <td>
              <a href="/article-2304130">341 €</a>
            </td>
          </tr>
          <tr>
            <th>80</th>
            <td>
              <a href="/article-2304140">266 €</a>
            </td>
            <td>
              <a>&nbsp;&nbsp;</a>
            </td>
            <td>
              <a href="/article-2304160">275 €</a>
            </td>
            <td>
              <a>&nbsp;&nbsp;</a>
            </td>
            <td>
              <a>&nbsp;&nbsp;</a>
            </td>
            <td>
              <a>&nbsp;&nbsp;</a>
            </td>
          </tr>
          <tr>
            <th>95</th>
            <td>
              <a href="/article-2304200">260 €</a>
            </td>
            <td>
              <a href="/article-2304210">311 €</a>
            </td>
            <td>
              <a href="/article-2304220">270 €</a>
            </td>
            <td>
              <a>&nbsp;&nbsp;</a>
            </td>
            <td>
              <a href="/article-2304240">280 €</a>
            </td>
            <td>
              <a href="/article-2304250">300 €</a>
            </td>
          </tr>
          <tr>
            <th>100</th>
            <td>
              <a href="/article-2304260">278 €</a>
            </td>
            <td>
              <a href="/article-2304270">338 €</a>
            </td>
            <td>
              <a href="/article-2304280">293 €</a>
            </td>
            <td>
              <a>&nbsp;&nbsp;</a>
            </td>
            <td>
              <a href="/article-2304300">359 €</a>
            </td>
            <td>
              <a>&nbsp;&nbsp;</a>
            </td>
          </tr>
          <tr>
            <th>115</th>
            <td>
              <a href="/article-2304320">235 €</a>
            </td>
            <td>
              <a href="/article-2304330">287 €</a>
            </td>
            <td>
              <a href="/article-2304340">239 €</a>
            </td>
            <td>
              <a href="/article-2304350">332 €</a>
            </td>
            <td>
              <a href="/article-2304360">270 €</a>
            </td>
            <td>
              <a href="/article-2304370">305 €</a>
            </td>
          </tr>
          <tr>
            <th>120</th>
            <td>
              <a href="/article-2304380">287 €</a>
            </td>
            <td>
              <a href="/article-2304390">296 €</a>
            </td>
            <td>
              <a href="/article-2304400">305 €</a>
            </td>
            <td>
              <a>&nbsp;&nbsp;</a>
            </td>
            <td>
              <a>&nbsp;&nbsp;</a>
            </td>
            <td>
              <a>&nbsp;&nbsp;</a>
            </td>
          </tr>
          <tr>
            <th>125</th>
            <td>
              <a href="/article-2304440">275 €</a>
            </td>
            <td>
              <a href="/article-2304450">293 €</a>
            </td>
            <td>
              <a href="/article-2304460">280 €</a>
            </td>
            <td>
              <a href="/article-2304470">320 €</a>
            </td>
            <td>
              <a href="/article-2304480">290 €</a>
            </td>
            <td>
              <a href="/article-2304490">340 €</a>
            </td>
          </tr>
          <tr>
            <th>135</th>
            <td>
              <a href="/article-2304500">311 €</a>
            </td>
            <td>
              <a href="/article-2304510">320 €</a>
            </td>
            <td>
              <a href="/article-2304520">290 €</a>
            </td>
            <td>
              <a href="/article-2304530">383 €</a>
            </td>
            <td>
              <a href="/article-2304540">305 €</a>
            </td>
            <td>
              <a href="/article-2304550">350 €</a>
            </td>
          </tr>
          <tr>
            <th>140</th>
            <td>
              <a href="/article-2304560">320 €</a>
            </td>
            <td>
              <a href="/article-2304570">311 €</a>
            </td>
            <td>
              <a href="/article-2304580">347 €</a>
            </td>
            <td>
              <a>&nbsp;&nbsp;</a>
            </td>
            <td>
              <a href="/article-2304600">464 €</a>
            </td>
            <td>
              <a>&nbsp;&nbsp;</a>
            </td>
          </tr>
          <tr>
            <th>145</th>
            <td>
              <a href="/article-2304620">323 €</a>
            </td>
            <td>
              <a href="/article-2304630">314 €</a>
            </td>
            <td>
              <a href="/article-2304640">320 €</a>
            </td>
            <td>
              <a href="/article-2304650">419 €</a>
            </td>
            <td>
              <a href="/article-2304660">383 €</a>
            </td>
            <td>
              <a href="/article-2304670">464 €</a>
            </td>
          </tr>
          <tr>
            <th>150</th>
            <td>
              <a href="/article-2304680">338 €</a>
            </td>
            <td>
              <a href="/article-2304690">347 €</a>
            </td>
            <td>
              <a href="/article-2304700">365 €</a>
            </td>
            <td>
              <a>&nbsp;&nbsp;</a>
            </td>
            <td>
              <a href="/article-2304720">485 €</a>
            </td>
            <td>
              <a>&nbsp;&nbsp;</a>
            </td>
          </tr>
          <tr>
            <th>155</th>
            <td>
              <a href="/article-2304740">383 €</a>
            </td>
            <td>
              <a href="/article-2304750">330 €</a>
            </td>
            <td>
              <a href="/article-2304760">340 €</a>
            </td>
            <td>
              <a href="/article-2304770">392 €</a>
            </td>
            <td>
              <a href="/article-2304780">437 €</a>
            </td>
            <td>
              <a>&nbsp;&nbsp;</a>
            </td>
          </tr>
          <tr>
            <th>160</th>
            <td>
              <a href="/article-2304800">350 €</a>
            </td>
            <td>
              <a href="/article-2304810">356 €</a>
            </td>
            <td>
              <a href="/article-2304820">374 €</a>
            </td>
            <td>
              <a href="/article-2304830">482 €</a>
            </td>
            <td>
              <a>&nbsp;&nbsp;</a>
            </td>
            <td>
              <a>&nbsp;&nbsp;</a>
            </td>
          </tr>
          <tr>
            <th>165</th>
            <td>
              <a href="/article-2304860">401 €</a>
            </td>
            <td>
              <a href="/article-2304870">356 €</a>
            </td>
            <td>
              <a href="/article-2304880">360 €</a>
            </td>
            <td>
              <a href="/article-2304890">449 €</a>
            </td>
            <td>
              <a href="/article-2304900">464 €</a>
            </td>
            <td>
              <a>&nbsp;&nbsp;</a>
            </td>
          </tr>
          <tr>
            <th>170</th>
            <td>
              <a>&nbsp;&nbsp;</a>
            </td>
            <td>
              <a href="/article-2304930">374 €</a>
            </td>
            <td>
              <a href="/article-2304940">392 €</a>
            </td>
            <td>
              <a>&nbsp;&nbsp;</a>
            </td>
            <td>
              <a>&nbsp;&nbsp;</a>
            </td>
            <td>
              <a>&nbsp;&nbsp;</a>
            </td>
          </tr>
          <tr>
            <th>175</th>
            <td>
              <a>&nbsp;&nbsp;</a>
            </td>
            <td>
              <a href="/article-2304990">431 €</a>
            </td>
            <td>
              <a href="/article-2305000">385 €</a>
            </td>
            <td>
              <a href="/article-2305010">440 €</a>
            </td>
            <td>
              <a>&nbsp;&nbsp;</a>
            </td>
            <td>
              <a>&nbsp;&nbsp;</a>
            </td>
          </tr>
          <tr>
            <th>180</th>
            <td>
              <a>&nbsp;&nbsp;</a>
            </td>
            <td>
              <a href="/article-2305050">401 €</a>
            </td>
            <td>
              <a href="/article-2305060">419 €</a>
            </td>
            <td>
              <a href="/article-2305070">437 €</a>
            </td>
            <td>
              <a href="/article-2305080">455 €</a>
            </td>
            <td>
              <a>&nbsp;&nbsp;</a>
            </td>
          </tr>
          <tr>
            <th>185</th>
            <td>
              <a>&nbsp;&nbsp;</a>
            </td>
            <td>
              <a>&nbsp;&nbsp;</a>
            </td>
            <td>
              <a href="/article-2305120">512 €</a>
            </td>
            <td>
              <a href="/article-2305130">521 €</a>
            </td>
            <td>
              <a href="/article-2305140">527 €</a>
            </td>
            <td>
              <a>&nbsp;&nbsp;</a>
            </td>
          </tr>
          <tr>
            <th>190</th>
            <td>
              <a>&nbsp;&nbsp;</a>
            </td>
            <td>
              <a href="/article-2305170">437 €</a>
            </td>
            <td>
              <a href="/article-2305180">449 €</a>
            </td>
            <td>
              <a href="/article-2305190">455 €</a>
            </td>
            <td>
              <a href="/article-2305200">476 €</a>
            </td>
            <td>
              <a>&nbsp;&nbsp;</a>
            </td>
          </tr>
          <tr>
            <th>195</th>
            <td>
              <a>&nbsp;&nbsp;</a>
            </td>
            <td>
              <a>&nbsp;&nbsp;</a>
            </td>
            <td>
              <a href="/article-2305240">410 €</a>
            </td>
            <td>
              <a href="/article-2305250">509 €</a>
            </td>
            <td>
              <a>&nbsp;&nbsp;</a>
            </td>
            <td>
              <a>&nbsp;&nbsp;</a>
            </td>
          </tr>
          <tr>
            <th>200</th>
            <td>
              <a>&nbsp;&nbsp;</a>
            </td>
            <td>
              <a>&nbsp;&nbsp;</a>
            </td>
            <td>
              <a href="/article-2305300">446 €</a>
            </td>
            <td>
              <a href="/article-2305310">464 €</a>
            </td>
            <td>
              <a href="/article-2305320">485 €</a>
            </td>
            <td>
              <a>&nbsp;&nbsp;</a>
            </td>
          </tr>
          <tr>
            <th>210</th>
            <td>
              <a>&nbsp;&nbsp;</a>
            </td>
            <td>
              <a>&nbsp;&nbsp;</a>
            </td>
            <td>
              <a href="/article-2305360">464 €</a>
            </td>
            <td>
              <a href="/article-2305370">500 €</a>
            </td>
            <td>
              <a href="/article-2305380">545 €</a>
            </td>
            <td>
              <a>&nbsp;&nbsp;</a>
            </td>
          </tr>
          <tr>
            <th>220</th>
            <td>
              <a>&nbsp;&nbsp;</a>
            </td>
            <td>
              <a>&nbsp;&nbsp;</a>
            </td>
            <td>
              <a>&nbsp;&nbsp;</a>
            </td>
            <td>
              <a href="/article-2305430">527 €</a>
            </td>
            <td>
              <a href="/article-2305440">536 €</a>
            </td>
            <td>
              <a>&nbsp;&nbsp;</a>
            </td>
          </tr>
        </tbody>
      </table>
      <table class="table table-bordered table-striped text-center">
        <thead>
          <tr>
            <th>Largeur</th>
            <th>40</th>
            <th>60</th>
            <th>80</th>
            <th>90</th>
            <th>100</th>
            <th>120</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Hauteur</td>
            <td>1 vantail</td>
          </tr>
          <tr>
            <th>45</th>
            <td>
              <a href="/article-2310630">131 €</a>
            </td>
            <td>
              <a href="/article-2310640">140 €</a>
            </td>
            <td>
              <a href="/article-2310650">120 €</a>
            </td>
            <td>
              <a href="/article-2310660">197 €</a>
            </td>
            <td>
              <a href="/article-2310670">150 €</a>
            </td>
            <td>
              <a href="/article-">160 €</a>
            </td>
          </tr>
          <tr>
            <th>60</th>
            <td>
              <a>&nbsp;&nbsp;</a>
            </td>
            <td>
              <a>&nbsp;&nbsp;</a>
            </td>
            <td>
              <a href="/article-2310710">130 €</a>
            </td>
            <td>
              <a href="/article-2310720">224 €</a>
            </td>
            <td>
              <a href="/article-2310730">160 €</a>
            </td>
            <td>
              <a href="/article-">170 €</a>
            </td>
          </tr>
        </tbody>
      </table>
      <table class="table table-bordered table-striped text-center">
        <thead>
          <tr>
            <th>Largeur</th>
            <th>40</th>
            <th>50</th>
            <th>60</th>
            <th>70</th>
            <th>80</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Hauteur</td>
            <td>1 vantail</td>
          </tr>
          <tr>
            <th>45</th>
            <td>
              <a href="/article-2305582">105 €</a>
            </td>
            <td>
              <a href="/article-2305592">176 €</a>
            </td>
            <td>
              <a href="/article-">115 €</a>
            </td>
            <td>
              <a>&nbsp;&nbsp;</a>
            </td>
            <td>
              <a>&nbsp;&nbsp;</a>
            </td>
          </tr>
          <tr>
            <th>60</th>
            <td>
              <a href="/article-2305632">115 €</a>
            </td>
            <td>
              <a href="/article-2305642">149 €</a>
            </td>
            <td>
              <a href="/article-2305652">125 €</a>
            </td>
            <td>
              <a href="/article-2305662">215 €</a>
            </td>
            <td>
              <a href="/article-">221 €</a>
            </td>
          </tr>
          <tr>
            <th>75</th>
            <td>
              <a href="/article-2305682">125 €</a>
            </td>
            <td>
              <a href="/article-2305692">152 €</a>
            </td>
            <td>
              <a href="/article-2305702">130 €</a>
            </td>
            <td>
              <a href="/article-2305712">185 €</a>
            </td>
            <td>
              <a href="/article-">150 €</a>
            </td>
          </tr>
          <tr>
            <th>80</th>
            <td>
              <a>&nbsp;&nbsp;</a>
            </td>
            <td>
              <a href="/article-2305742">185 €</a>
            </td>
            <td>
              <a href="/article-2305752">152 €</a>
            </td>
            <td>
              <a href="/article-2305762">215 €</a>
            </td>
            <td>
              <a href="/article-">248 €</a>
            </td>
          </tr>
          <tr>
            <th>95</th>
            <td>
              <a href="/article-2305782">197 €</a>
            </td>
            <td>
              <a href="/article-2305792">206 €</a>
            </td>
            <td>
              <a href="/article-2305802">160 €</a>
            </td>
            <td>
              <a href="/article-2305812">188 €</a>
            </td>
            <td>
              <a href="/article-">180 €</a>
            </td>
          </tr>
          <tr>
            <th>100</th>
            <td>
              <a>&nbsp;&nbsp;</a>
            </td>
            <td>
              <a>&nbsp;&nbsp;</a>
            </td>
            <td>
              <a href="/article-2305852">230 €</a>
            </td>
            <td>
              <a href="/article-2305862">206 €</a>
            </td>
            <td>
              <a href="/article-">230 €</a>
            </td>
          </tr>
          <tr>
            <th>105</th>
            <td>
              <a>&nbsp;&nbsp;</a>
            </td>
            <td>
              <a>&nbsp;&nbsp;</a>
            </td>
            <td>
              <a href="/article-2305902">180 €</a>
            </td>
            <td>
              <a href="/article-2305912">239 €</a>
            </td>
            <td>
              <a href="/article-">190 €</a>
            </td>
          </tr>
          <tr>
            <th>115</th>
            <td>
              <a>&nbsp;&nbsp;</a>
            </td>
            <td>
              <a href="/article-2305942">248 €</a>
            </td>
            <td>
              <a href="/article-2305952">190 €</a>
            </td>
            <td>
              <a href="/article-2305962">206 €</a>
            </td>
            <td>
              <a href="/article-">200 €</a>
            </td>
          </tr>
          <tr>
            <th>125</th>
            <td>
              <a>&nbsp;&nbsp;</a>
            </td>
            <td>
              <a>&nbsp;&nbsp;</a>
            </td>
            <td>
              <a href="/article-2306052">251 €</a>
            </td>
            <td>
              <a href="/article-2306062">242 €</a>
            </td>
            <td>
              <a href="/article-">257 €</a>
            </td>
          </tr>
          <tr>
            <th>135</th>
            <td>
              <a>&nbsp;&nbsp;</a>
            </td>
            <td>
              <a>&nbsp;&nbsp;</a>
            </td>
            <td>
              <a href="/article-2306112">266 €</a>
            </td>
            <td>
              <a href="/article-2306122">257 €</a>
            </td>
            <td>
              <a href="/article-">284 €</a>
            </td>
          </tr>
          <tr>
            <th>145</th>
            <td>
              <a>&nbsp;&nbsp;</a>
            </td>
            <td>
              <a>&nbsp;&nbsp;</a>
            </td>
            <td>
              <a>&nbsp;&nbsp;</a>
            </td>
            <td>
              <a>&nbsp;&nbsp;</a>
            </td>
            <td>
              <a href="/article-">323 €</a>
            </td>
          </tr>
        </tbody>
      </table>
      <table class="table table-bordered table-striped text-center">
        <thead>
          <tr>
            <th>Largeur</th>
            <th>80</th>
            <th>90</th>
            <th>100</th>
            <th>110</th>
            <th>120</th>
            <th>130</th>
            <th>140</th>
            <th>150</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Hauteur</td>
            <td>1 vantail</td>
            <td>2 vantaux</td>
          </tr>
          <tr>
            <th>195</th>
            <td>
              <a href="/article-2306615">392 €</a>
            </td>
            <td>
              <a href="/article-2306625">428 €</a>
            </td>
            <td>
              <a href="/article-2316273">491 €</a>
            </td>
            <td>
              <a href="/article-2316283">509 €</a>
            </td>
            <td>
              <a href="/article-2316293">536 €</a>
            </td>
            <td>
              <a>&nbsp;&nbsp;</a>
            </td>
            <td>
              <a href="/article-2316313">611 €</a>
            </td>
            <td>
              <a href="/article-2316323">680 €</a>
            </td>
          </tr>
          <tr>
            <th>205</th>
            <td>
              <a href="/article-2306645">360 €</a>
            </td>
            <td>
              <a href="/article-2306655">491 €</a>
            </td>
            <td>
              <a href="/article-2316333">536 €</a>
            </td>
            <td>
              <a href="/article-2316343">557 €</a>
            </td>
            <td>
              <a href="/article-2316353">480 €</a>
            </td>
            <td>
              <a>&nbsp;&nbsp;</a>
            </td>
            <td>
              <a href="/article-2316373">644 €</a>
            </td>
            <td>
              <a href="/article-2316383">692 €</a>
            </td>
          </tr>
          <tr>
            <th>215</th>
            <td>
              <a href="/article-2306675">370 €</a>
            </td>
            <td>
              <a href="/article-2306685">380 €</a>
            </td>
            <td>
              <a href="/article-2316393">480 €</a>
            </td>
            <td>
              <a href="/article-2316403">608 €</a>
            </td>
            <td>
              <a href="/article-2316413">490 €</a>
            </td>
            <td>
              <a href="/article-2316423">656 €</a>
            </td>
            <td>
              <a href="/article-2316433">530 €</a>
            </td>
            <td>
              <a href="/article-2316443">689 €</a>
            </td>
          </tr>
          <tr>
            <th>225</th>
            <td>
              <a href="/article-2306705">599 €</a>
            </td>
            <td>
              <a href="/article-2306715">611 €</a>
            </td>
            <td>
              <a href="/article-2316453">593 €</a>
            </td>
            <td>
              <a>&nbsp;&nbsp;</a>
            </td>
            <td>
              <a href="/article-2316473">602 €</a>
            </td>
            <td>
              <a>&nbsp;&nbsp;</a>
            </td>
            <td>
              <a href="/article-2316493">689 €</a>
            </td>
            <td>
              <a href="/article-2316503">725 €</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="tab-pane fane in" id="Aluminium">
      <h1>Aluminium</h1>
    </div>
    <div class="tab-pane fane in" id="Alubois">
      <h1>Alubois</h1>
    </div>
  </div>
</div>
{% endblock %}
