<div class="row">
	<div class="col-md-4">
		<img class="img-responsive" src="/images/carre.png">
		<h3 class="text-center h3">Chassis</h3>
		<p class="text-center">Lorem ipsum</p>
		<table class="table table-bordered">
			<tr>
				<td>Hauteur</td><td>[X] à [X] cm</td>
				<td>Largeur</td><td>[X] à [X] cm</td>
		</table>
		<div class="btn btn-center">Estimez le prix</div>
	</div>
	<div class="col-md-4">
		<img class="img-responsive" src="/images/carre.png">
		<h3 class="text-center h3">Fenêtres</h3>
		<p class="text-center">Lorem ipsum</p>
		<table class="table table-bordered">
			<tr>
				<td>Hauteur</td><td>[X] à [X] cm</td>
				<td>Largeur</td><td>[X] à [X] cm</td>
		</table>
		<div class="btn btn-center">Estimez le prix</div>
	</div>
	<div class="col-md-4">
		<img class="img-responsive" src="/images/carre.png">
		<h3 class="text-center h3">Porte-fenêtres</h3>
		<p class="text-center">Lorem ipsum</p>
		<table class="table table-bordered">
			<tr>
				<td>Hauteur</td><td>[X] à [X] cm</td>
				<td>Largeur</td><td>[X] à [X] cm</td>
		</table>
		<div class="btn btn-center">Estimez le prix</div>
	</div>
</div>