{% extends "layout.html" %} 

{% block content %}

{% include 'breadcrumb.twig' %}

<div class="container">
      {% if global.request.get('familyUrlname') == "fenetres-portes-fenetres-baies-coulissantes-pvc" %}
        {% include 'windows-classic-pvc.twig' %}
      {% elseif global.request.get('familyUrlname') == "fenetres-portes-fenetres-baies-coulissantes-pin" %}
        {% include 'windows-classic-pin.twig' %}
      {% elseif global.request.get('familyUrlname') == "fenetres-portes-fenetres-baies-coulissantes-chene" %}
        {% include 'windows-classic-chene.twig' %}
      {% endif %} 
</div>

{% endblock %}
