{
<div class="row">
	<div class="col-md-offset-1 col-md-10">
		<div class="row">
			<div class="col-md-3">
				<p class="text-center"><img class="img-inline" src="/images/carre.png"></p>
				<h3 class="text-center h3">Chassis</h3>
				<p class="text-center">A partir de [X] €</p>
				<p class="text-center">Lorem ipsum</p>
				<br>
				<table class="table table-bordered">
					<tr>
						<td>Hauteur</td><td>[X] à [X] cm</td>
					</tr>
					<tr>
						<td>Largeur</td><td>[X] à [X] cm</td>
					</tr>
				</table>
				<a href="/configurateur/step-3" class="btn btn-primary btn-block">Estimez le prix</a>
			</div>
			<div class="col-md-3">
				<p class="text-center"><img class="img-inline" src="/images/carre.png"></p>
				<h3 class="text-center h3">Fenêtre</h3>
				<p class="text-center">A partir de [X] €</p>
				<p class="text-center">Lorem ipsum</p>
				<br>
				<table class="table table-bordered">
					<tr>
						<td>Hauteur</td><td>[X] à [X] cm</td>
					</tr>
					<tr>
						<td>Largeur</td><td>[X] à [X] cm</td>
					</tr>
				</table>
				<a href="/configurateur/step-3" class="btn btn-primary btn-block">Estimez le prix</a>
			</div>
			<div class="col-md-3">
				<p class="text-center"><img class="img-inline" src="/images/carre.png"></p>
				<h3 class="text-center h3">Porte-fenêtre</h3>
				<p class="text-center">A partir de [X] €</p>
				<p class="text-center">Lorem ipsum</p>
				<br>
				<table class="table table-bordered">
					<tr>
						<td>Hauteur</td><td>[X] à [X] cm</td>
					</tr>
					<tr>
						<td>Largeur</td><td>[X] à [X] cm</td>
					</tr>
				</table>
				<a href="/configurateur/step-3" class="btn btn-primary btn-block">Estimez le prix</a>
			</div>
			<div class="col-md-3">
				<p class="text-center"><img class="img-inline" src="/images/carre.png"></p>
				<h3 class="text-center h3">Baie-coulissante</h3>
				<p class="text-center">A partir de [X] €</p>
				<p class="text-center">Lorem ipsum</p>
				<br>
				<table class="table table-bordered">
					<tr>
						<td>Hauteur</td><td>[X] à [X] cm</td>
					</tr>
					<tr>
						<td>Largeur</td><td>[X] à [X] cm</td>
					</tr>
				</table>
				<a href="/configurateur/step-3" class="btn btn-primary btn-block">Estimez le prix</a>
			</div>
		</div>
	</div>
</div>
<br>
<br>}