  <div class="famille">
    <div class="row">
      <div class="col-md-3">
      <h3 class="h3">Fenêtres</h3>
      <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed facilisis id sapien non blandit. Etiam et sem sagittis. <a href="/product-FPC0000">En savoir plus</a>.</p><img class="img-responsive" src="/images/windows/fenetres-pvc.jpg"></div>
      <div class="col-md-9">
        <table class="table table-bordered table-hover table-striped">
          <thead>
            <tr>
              <th class="text-center">Largeur</th>
              <th class="text-center">80</th>
              <th class="text-center">90</th>
              <th class="text-center">100</th>
              <th class="text-center">110</th>
              <th class="text-center">120</th>
              <th class="text-center">140</th>
              <th class="text-center">100</th>
              <th class="text-center">120</th>
              <th class="text-center">140</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="text-center">Hauteur</td>
              <td class="text-center" colspan="6">Battant</td>
              <td class="text-center" colspan="3">Oscillo battant</td>
            </tr>
            <tr>
              <th class="text-center">60</th>
              <td class="text-center">
                <a href="/article-2377740">123 €</a>
              </td>
              <td class="text-center">
                <a href="/article-2377750">135 €</a>
              </td>
              <td class="text-center">
                <a href="/article-2186160">128 €</a>
              </td>
              <td class="text-center">
                <a>&nbsp;&nbsp;</a>
              </td>
              <td class="text-center">
                <a href="/article-2186170">139 €</a>
              </td>
              <td class="text-center">
                <a>&nbsp;&nbsp;</a>
              </td>
              <td class="text-center">
                <a>&nbsp;&nbsp;</a>
              </td>
              <td class="text-center">
                <a>&nbsp;&nbsp;</a>
              </td>
              <td class="text-center">
                <a>&nbsp;&nbsp;</a>
              </td>
            </tr>
            <tr>
              <th class="text-center">75</th>
              <td class="text-center">
                <a href="/article-2377780">135 €</a>
              </td>
              <td class="text-center">
                <a href="/article-2377790">147 €</a>
              </td>
              <td class="text-center">
                <a href="/article-2186180">79 €</a>
              </td>
              <td class="text-center">
                <a>&nbsp;&nbsp;</a>
              </td>
              <td class="text-center">
                <a href="/article-2186190">107 €</a>
              </td>
              <td class="text-center">
                <a href="/article-2186200">156 €</a>
              </td>
              <td class="text-center">
                <a>&nbsp;&nbsp;</a>
              </td>
              <td class="text-center">
                <a>&nbsp;&nbsp;</a>
              </td>
              <td class="text-center">
                <a>&nbsp;&nbsp;</a>
              </td>
            </tr>
            <tr>
              <th class="text-center">95</th>
              <td class="text-center">
                <a href="/article-2186210">115 €</a>
              </td>
              <td class="text-center">
                <a href="/article-2377810">119 €</a>
              </td>
              <td class="text-center">
                <a href="/article-2186220">107 €</a>
              </td>
              <td class="text-center">
                <a href="/article-2377820">156 €</a>
              </td>
              <td class="text-center">
                <a href="/article-2186230">109 €</a>
              </td>
              <td class="text-center">
                <a href="/article-2186240">147 €</a>
              </td>
              <td class="text-center">
                <a href="/article-2187160">126 €</a>
              </td>
              <td class="text-center">
                <a href="/article-2187170">129 €</a>
              </td>
              <td class="text-center">
                <a>&nbsp;&nbsp;</a>
              </td>
            </tr>
            <tr>
              <th class="text-center">105</th>
              <td class="text-center">
                <a href="/article-2186250">106 €</a>
              </td>
              <td class="text-center">
                <a href="/article-2186260">113 €</a>
              </td>
              <td class="text-center">
                <a href="/article-2186270">90 €</a>
              </td>
              <td class="text-center">
                <a href="/article-2377840">161 €</a>
              </td>
              <td class="text-center">
                <a href="/article-2186280">109 €</a>
              </td>
              <td class="text-center">
                <a href="/article-2186290">139 €</a>
              </td>
              <td class="text-center">
                <a>&nbsp;&nbsp;</a>
              </td>
              <td class="text-center">
                <a href="/article-2187190">127 €</a>
              </td>
              <td class="text-center">
                <a>&nbsp;&nbsp;</a>
              </td>
            </tr>
            <tr>
              <th class="text-center">115</th>
              <td class="text-center">
                <a href="/article-2186300">117 €</a>
              </td>
              <td class="text-center">
                <a href="/article-2186310">117 €</a>
              </td>
              <td class="text-center">
                <a href="/article-2186320">99 €</a>
              </td>
              <td class="text-center">
                <a href="/article-2186330">129 €</a>
              </td>
              <td class="text-center">
                <a href="/article-2186340">110 €</a>
              </td>
              <td class="text-center">
                <a href="/article-2186360">149 €</a>
              </td>
              <td class="text-center">
                <a href="/article-2187200">116 €</a>
              </td>
              <td class="text-center">
                <a href="/article-2187210">138 €</a>
              </td>
              <td class="text-center">
                <a href="/article-2187220">177 €</a>
              </td>
            </tr>
            <tr>
              <th class="text-center">125</th>
              <td class="text-center">
                <a href="/article-2186370">119 €</a>
              </td>
              <td class="text-center">
                <a href="/article-2186380">127 €</a>
              </td>
              <td class="text-center">
                <a href="/article-2186390">111 €</a>
              </td>
              <td class="text-center">
                <a href="/article-2186400">139 €</a>
              </td>
              <td class="text-center">
                <a href="/article-2186410">116 €</a>
              </td>
              <td class="text-center">
                <a href="/article-2186430">151 €</a>
              </td>
              <td class="text-center">
                <a href="/article-2187230">134 €</a>
              </td>
              <td class="text-center">
                <a href="/article-2187240">146 €</a>
              </td>
              <td class="text-center">
                <a href="/article-2187250">189 €</a>
              </td>
            </tr>
            <tr>
              <th class="text-center">135</th>
              <td class="text-center">
                <a href="/article-2186440">125 €</a>
              </td>
              <td class="text-center">
                <a href="/article-2186450">135 €</a>
              </td>
              <td class="text-center">
                <a href="/article-2186460">105 €</a>
              </td>
              <td class="text-center">
                <a href="/article-2186470">145 €</a>
              </td>
              <td class="text-center">
                <a href="/article-2186480">120 €</a>
              </td>
              <td class="text-center">
                <a href="/article-2186500">155 €</a>
              </td>
              <td class="text-center">
                <a href="/article-2187260">143 €</a>
              </td>
              <td class="text-center">
                <a href="/article-2187270">152 €</a>
              </td>
              <td class="text-center">
                <a>&nbsp;&nbsp;</a>
              </td>
            </tr>
            <tr>
              <th class="text-center">145</th>
              <td class="text-center">
                <a href="/article-2186510">139 €</a>
              </td>
              <td class="text-center">
                <a href="/article-2186520">110 €</a>
              </td>
              <td class="text-center">
                <a href="/article-2186530">139 €</a>
              </td>
              <td class="text-center">
                <a href="/article-2186540">154 €</a>
              </td>
              <td class="text-center">
                <a href="/article-2186550">150 €</a>
              </td>
              <td class="text-center">
                <a href="/article-2186560">171 €</a>
              </td>
              <td class="text-center">
                <a href="/article-2187290">154 €</a>
              </td>
              <td class="text-center">
                <a href="/article-2187300">168 €</a>
              </td>
              <td class="text-center">
                <a>&nbsp;&nbsp;</a>
              </td>
            </tr>
            <tr>
              <th class="text-center">155</th>
              <td class="text-center">
                <a href="/article-2186570">153 €</a>
              </td>
              <td class="text-center">
                <a href="/article-2186580">126 €</a>
              </td>
              <td class="text-center">
                <a href="/article-2186590">131 €</a>
              </td>
              <td class="text-center">
                <a href="/article-2186600">174 €</a>
              </td>
              <td class="text-center">
                <a href="/article-2186610">167 €</a>
              </td>
              <td class="text-center">
                <a href="/article-2186620">188 €</a>
              </td>
              <td class="text-center">
                <a>&nbsp;&nbsp;</a>
              </td>
              <td class="text-center">
                <a>&nbsp;&nbsp;</a>
              </td>
              <td class="text-center">
                <a>&nbsp;&nbsp;</a>
              </td>
            </tr>
            <tr>
              <th class="text-center">165</th>
              <td class="text-center">
                <a href="/article-2186630">151 €</a>
              </td>
              <td class="text-center">
                <a href="/article-2186640">135 €</a>
              </td>
              <td class="text-center">
                <a href="/article-2186650">145 €</a>
              </td>
              <td class="text-center">
                <a href="/article-2186660">184 €</a>
              </td>
              <td class="text-center">
                <a href="/article-2186670">175 €</a>
              </td>
              <td class="text-center">
                <a>&nbsp;&nbsp;</a>
              </td>
              <td class="text-center">
                <a>&nbsp;&nbsp;</a>
              </td>
              <td class="text-center">
                <a>&nbsp;&nbsp;</a>
              </td>
              <td class="text-center">
                <a>&nbsp;&nbsp;</a>
              </td>
            </tr>
            <tr>
              <th class="text-center">175</th>
              <td class="text-center">
                <a>&nbsp;&nbsp;</a>
              </td>
              <td class="text-center">
                <a href="/article-2186690">154 €</a>
              </td>
              <td class="text-center">
                <a href="/article-2186700">159 €</a>
              </td>
              <td class="text-center">
                <a href="/article-2186710">186 €</a>
              </td>
              <td class="text-center">
                <a href="/article-2186720">193 €</a>
              </td>
              <td class="text-center">
                <a>&nbsp;&nbsp;</a>
              </td>
              <td class="text-center">
                <a>&nbsp;&nbsp;</a>
              </td>
              <td class="text-center">
                <a>&nbsp;&nbsp;</a>
              </td>
              <td class="text-center">
                <a>&nbsp;&nbsp;</a>
              </td>
            </tr>
            <tr>
              <th class="text-center">180</th>
              <td class="text-center">
                <a>&nbsp;&nbsp;</a>
              </td>
              <td class="text-center">
                <a href="/article-2186730">178 €</a>
              </td>
              <td class="text-center">
                <a href="/article-2186740">178 €</a>
              </td>
              <td class="text-center">
                <a href="/article-2186750">197 €</a>
              </td>
              <td class="text-center">
                <a>&nbsp;&nbsp;</a>
              </td>
              <td class="text-center">
                <a>&nbsp;&nbsp;</a>
              </td>
              <td class="text-center">
                <a>&nbsp;&nbsp;</a>
              </td>
              <td class="text-center">
                <a>&nbsp;&nbsp;</a>
              </td>
              <td class="text-center">
                <a>&nbsp;&nbsp;</a>
              </td>
            </tr>
            <tr>
              <th class="text-center">190</th>
              <td class="text-center">
                <a>&nbsp;&nbsp;</a>
              </td>
              <td class="text-center">
                <a href="/article-2186770">195 €</a>
              </td>
              <td class="text-center">
                <a href="/article-2186780">199 €</a>
              </td>
              <td class="text-center">
                <a href="/article-2186790">229 €</a>
              </td>
              <td class="text-center">
                <a href="/article-2186800">200 €</a>
              </td>
              <td class="text-center">
                <a>&nbsp;&nbsp;</a>
              </td>
              <td class="text-center">
                <a>&nbsp;&nbsp;</a>
              </td>
              <td class="text-center">
                <a>&nbsp;&nbsp;</a>
              </td>
              <td class="text-center">
                <a>&nbsp;&nbsp;</a>
              </td>
            </tr>
            <tr>
              <th class="text-center">200</th>
              <td class="text-center">
                <a>&nbsp;&nbsp;</a>
              </td>
              <td class="text-center">
                <a href="/article-2186810">195 €</a>
              </td>
              <td class="text-center">
                <a href="/article-2186820">199 €</a>
              </td>
              <td class="text-center">
                <a href="/article-2186830">234 €</a>
              </td>
              <td class="text-center">
                <a href="/article-2186840">229 €</a>
              </td>
              <td class="text-center">
                <a>&nbsp;&nbsp;</a>
              </td>
              <td class="text-center">
                <a>&nbsp;&nbsp;</a>
              </td>
              <td class="text-center">
                <a>&nbsp;&nbsp;</a>
              </td>
              <td class="text-center">
                <a>&nbsp;&nbsp;</a>
              </td>
            </tr>
            <tr>
              <th class="text-center">210</th>
              <td class="text-center">
                <a>&nbsp;&nbsp;</a>
              </td>
              <td class="text-center">
                <a>&nbsp;&nbsp;</a>
              </td>
              <td class="text-center">
                <a href="/article-2186850">219 €</a>
              </td>
              <td class="text-center">
                <a href="/article-2186860">259 €</a>
              </td>
              <td class="text-center">
                <a href="/article-2186870">249 €</a>
              </td>
              <td class="text-center">
                <a>&nbsp;&nbsp;</a>
              </td>
              <td class="text-center">
                <a>&nbsp;&nbsp;</a>
              </td>
              <td class="text-center">
                <a>&nbsp;&nbsp;</a>
              </td>
              <td class="text-center">
                <a>&nbsp;&nbsp;</a>
              </td>
            </tr>
          </tbody>
        </table>
        <p>Vous ne trouvez pas les dimensions que vous recherchez ? <a href="/configurateur">Utilisez notre outil pour estimer le prix d'une fenêtre sur mesure</a>.</p>
      </div>
    </div>
  </div>
  <div class="famille">
    <div class="row">
      <div class="col-md-3">
      <h3 class="h3">Porte-Fenêtres</h3>
      <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed facilisis id sapien non blandit. Etiam et sem sagittis, semper lorem sed, mollis elit. Curabitur pretium varius sollicitudin. Donec ut arcu quis quam posuere sodales. Mauris sed egestas quam. <a href="/product-FPC0000">En savoir plus</a>.</p><img class="img-responsive" src="/images/windows/porte-fenetres-pvc.jpg"></div>
      <div class="col-md-9">
        <table class="table table-bordered table-hover table-striped">
          <thead>
            <tr>
              <th class="text-center">Largeur</th>
              <th class="text-center">80</th>
              <th class="text-center">90</th>
              <th class="text-center">100</th>
              <th class="text-center">120</th>
              <th class="text-center">140</th>
              <th class="text-center">180</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="text-center">Hauteur</td>
              <td class="text-center">1 vantail avec clé</td>
              <td class="text-center">2 vantaux avec clé</td>
              <td class="text-center">3 vantaux avec clé</td>
            </tr>
            <tr>
              <th class="text-center">195</th>
              <td class="text-center">
                <a href="/article-2186902">205 €</a>
              </td>
              <td class="text-center">
                <a href="/article-2186912">217 €</a>
              </td>
              <td class="text-center">
                <a href="/article-2186960">267 €</a>
              </td>
              <td class="text-center">
                <a href="/article-2186970">267 €</a>
              </td>
              <td class="text-center">
                <a href="/article-2186980">299 €</a>
              </td>
              <td class="text-center">
                <a>&nbsp;&nbsp;</a>
              </td>
            </tr>
            <tr>
              <th class="text-center">205</th>
              <td class="text-center">
                <a href="/article-2186922">155 €</a>
              </td>
              <td class="text-center">
                <a href="/article-2186932">223 €</a>
              </td>
              <td class="text-center">
                <a href="/article-2186990">219 €</a>
              </td>
              <td class="text-center">
                <a href="/article-2187000">234 €</a>
              </td>
              <td class="text-center">
                <a href="/article-2187010">305 €</a>
              </td>
              <td class="text-center">
                <a>&nbsp;&nbsp;</a>
              </td>
            </tr>
            <tr>
              <th class="text-center">215</th>
              <td class="text-center">
                <a href="/article-2186942">148 €</a>
              </td>
              <td class="text-center">
                <a href="/article-2186952">201 €</a>
              </td>
              <td class="text-center">
                <a href="/article-2187020">227 €</a>
              </td>
              <td class="text-center">
                <a href="/article-2187030">231 €</a>
              </td>
              <td class="text-center">
                <a href="/article-2187050">249 €</a>
              </td>
              <td class="text-center">
                <a href="/article-2187090">356 €</a>
              </td>
            </tr>
            <tr>
              <th class="text-center">225</th>
              <td class="text-center">
                <a href="/article-2439012">223 €</a>
              </td>
              <td class="text-center">
                <a href="/article-2439022">237 €</a>
              </td>
              <td class="text-center">
                <a href="/article-2187060">306 €</a>
              </td>
              <td class="text-center">
                <a href="/article-2187070">316 €</a>
              </td>
              <td class="text-center">
                <a href="/article-2187080">329 €</a>
              </td>
              <td class="text-center">
                <a>&nbsp;&nbsp;</a>
              </td>
            </tr>
          </tbody>
        </table>
        <p>Vous ne trouvez pas les dimensions que vous recherchez ? <a href="/configurateur">Utilisez notre outil pour estimer le prix d'une fenêtre sur mesure</a>.</p>
      </div>
    </div>
  </div>
  <div class="famille">
    <div class="row">
      <div class="col-md-3">
      <h3 class="h3">Abbattants</h3>
      <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed facilisis id sapien non blandit. Etiam et sem sagittis, semper lorem sed, mollis elit. Curabitur pretium varius sollicitudin. Donec ut arcu quis quam posuere sodales. Mauris sed egestas quam. <a href="/product-FPC0000">En savoir plus</a>.</p><img class="img-responsive" src="/images/windows/abbattants-pvc.jpg"></div>
      <div class="col-md-9">
        <table class="table table-bordered table-hover table-striped">
          <thead>
            <tr>
              <th class="text-center">Largeur</th>
              <th class="text-center">40</th>
              <th class="text-center">60</th>
              <th class="text-center">80</th>
              <th class="text-center">90</th>
              <th class="text-center">100</th>
              <th class="text-center">120</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="text-center">Hauteur</td>
              <td class="text-center" colspan="6">1 vantail</td>
            </tr>
            <tr>
              <th class="text-center">45</th>
              <td class="text-center">
                <a href="/article-1%20vantail">65 €</a>
              </td>
              <td class="text-center">
                <a href="/article-">65 €</a>
              </td>
              <td class="text-center">
                <a href="/article-">77 €</a>
              </td>
              <td class="text-center">
                <a href="/article-">99 €</a>
              </td>
              <td class="text-center">
                <a href="/article-">79 €</a>
              </td>
              <td class="text-center">
                <a href="/article-">89 €</a>
              </td>
            </tr>
            <tr>
              <th class="text-center">60</th>
              <td class="text-center">
                <a>&nbsp;&nbsp;</a>
              </td>
              <td class="text-center">
                <a>&nbsp;&nbsp;</a>
              </td>
              <td class="text-center">
                <a href="/article-2185930">109 €</a>
              </td>
              <td class="text-center">
                <a href="/article-2185940">119 €</a>
              </td>
              <td class="text-center">
                <a href="/article-2185950">120 €</a>
              </td>
              <td class="text-center">
                <a href="/article-2185960">130 €</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  
  <div class="famille">
    <div class="row">
      <div class="col-md-3">
      <h3 class="h3">Chassis</h3>
      <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed facilisis id sapien non blandit. Etiam et sem sagittis, semper lorem sed, mollis elit. Curabitur pretium varius sollicitudin. Donec ut arcu quis quam posuere sodales. Mauris sed egestas quam. <a href="/product-FPC0000">En savoir plus</a>.</p><img class="img-responsive" src="/images/windows/chassis-pvc.jpg"></div>
      <div class="col-md-9">
        <table class="table table-bordered table-hover table-striped">
          <thead>
            <tr>
              <th class="text-center">Largeur</th>
              <th class="text-center">40</th>
              <th class="text-center">50</th>
              <th class="text-center">60</th>
              <th class="text-center">80</th>
              <th class="text-center">40</th>
              <th class="text-center">60</th>
              <th class="text-center">80</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="text-center">Hauteur</td>
              <td class="text-center" colspan="4">Battant</td>
              <td class="text-center" colspan="3">Oscillo-battant</td>
            </tr>
            <tr>
              <th class="text-center">45</th>
              <td class="text-center">
                <a href="/article-2186002">54 €</a>
              </td>
              <td class="text-center">
                <a href="/article-2377582">79 €</a>
              </td>
              <td class="text-center">
                <a href="/article-2377592">68 €</a>
              </td>
              <td class="text-center">
                <a>&nbsp;&nbsp;</a>
              </td>
              <td class="text-center">
                <a>&nbsp;&nbsp;</a>
              </td>
              <td class="text-center">
                <a>&nbsp;&nbsp;</a>
              </td>
              <td class="text-center">
                <a>&nbsp;&nbsp;</a>
              </td>
            </tr>
            <tr>
              <th class="text-center">60</th>
              <td class="text-center">
                <a href="/article-2186012">64 €</a>
              </td>
              <td class="text-center">
                <a href="/article-2186022">75 €</a>
              </td>
              <td class="text-center">
                <a href="/article-2186032">65 €</a>
              </td>
              <td class="text-center">
                <a href="/article-2377612">106 €</a>
              </td>
              <td class="text-center">
                <a href="/article-2187102">85 €</a>
              </td>
              <td class="text-center">
                <a>&nbsp;&nbsp;</a>
              </td>
              <td class="text-center">
                <a>&nbsp;&nbsp;</a>
              </td>
            </tr>
            <tr>
              <th class="text-center">75</th>
              <td class="text-center">
                <a href="/article-2186042">59 €</a>
              </td>
              <td class="text-center">
                <a href="/article-2186052">79 €</a>
              </td>
              <td class="text-center">
                <a href="/article-2186062">64 €</a>
              </td>
              <td class="text-center">
                <a href="/article-2186072">75 €</a>
              </td>
              <td class="text-center">
                <a>&nbsp;&nbsp;</a>
              </td>
              <td class="text-center">
                <a href="/article-2187112">72 €</a>
              </td>
              <td class="text-center">
                <a href="/article-2187122">109 €</a>
              </td>
            </tr>
            <tr>
              <th class="text-center">95</th>
              <td class="text-center">
                <a href="/article-2377622">97 €</a>
              </td>
              <td class="text-center">
                <a href="/article-2377632">111 €</a>
              </td>
              <td class="text-center">
                <a href="/article-2186082">68 €</a>
              </td>
              <td class="text-center">
                <a href="/article-2186092">80 €</a>
              </td>
              <td class="text-center">
                <a>&nbsp;&nbsp;</a>
              </td>
              <td class="text-center">
                <a href="/article-2187132">80 €</a>
              </td>
              <td class="text-center">
                <a href="/article-2187142">119 €</a>
              </td>
            </tr>
            <tr>
              <th class="text-center">105</th>
              <td class="text-center">
                <a>&nbsp;&nbsp;</a>
              </td>
              <td class="text-center">
                <a href="/article-2377652">117 €</a>
              </td>
              <td class="text-center">
                <a href="/article-2186102">79 €</a>
              </td>
              <td class="text-center">
                <a href="/article-2186112">90 €</a>
              </td>
              <td class="text-center">
                <a>&nbsp;&nbsp;</a>
              </td>
              <td class="text-center">
                <a>&nbsp;&nbsp;</a>
              </td>
              <td class="text-center">
                <a>&nbsp;&nbsp;</a>
              </td>
            </tr>
            <tr>
              <th class="text-center">115</th>
              <td class="text-center">
                <a>&nbsp;&nbsp;</a>
              </td>
              <td class="text-center">
                <a href="/article-2377672">123 €</a>
              </td>
              <td class="text-center">
                <a href="/article-2186122">84 €</a>
              </td>
              <td class="text-center">
                <a href="/article-2186132">100 €</a>
              </td>
              <td class="text-center">
                <a>&nbsp;&nbsp;</a>
              </td>
              <td class="text-center">
                <a>&nbsp;&nbsp;</a>
              </td>
              <td class="text-center">
                <a>&nbsp;&nbsp;</a>
              </td>
            </tr>
            <tr>
              <th class="text-center">150</th>
              <td class="text-center">
                <a href="/article-2438052">175 €</a>
              </td>
              <td class="text-center">
                <a>&nbsp;&nbsp;</a>
              </td>
              <td class="text-center">
                <a>&nbsp;&nbsp;</a>
              </td>
              <td class="text-center">
                <a>&nbsp;&nbsp;</a>
              </td>
              <td class="text-center">
                <a>&nbsp;&nbsp;</a>
              </td>
              <td class="text-center">
                <a>&nbsp;&nbsp;</a>
              </td>
              <td class="text-center">
                <a>&nbsp;&nbsp;</a>
              </td>
            </tr>
          </tbody>
        </table>
        <p>Vous ne trouvez pas les dimensions que vous recherchez ? <a href="/configurateur">Utilisez notre outil pour estimer le prix d'une fenêtre sur mesure</a>.</p>
      </div>
    </div>
  </div>